<template>
  <div class="absolute anim-grid">
    <div :id="idx" v-for="(i, idx) in total" :key="idx" class="anim-grid-item"></div>
  </div>
</template>

<script>
import anime from 'animejs/lib/anime.es.js'

// https://stackoverflow.com/questions/50730640/how-can-i-detect-if-dark-mode-is-enabled-on-my-website
const isDarkModeEnabled = () => {
  return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
}

const colors = {
  dark: ['#693510', '#453a0e', '#204722', '#134d49', '#163e5c', '#1b3370', '#32277c', '#44236f', '#6b1e34', '#75251b'],// '#0A1F1C', '#0A1F1C', '#0A1F1C'],
  // light: ['#f9f7ea', '#faf9f1', '#f5f9f6', '#eef8f9', '#f1f9fa', '#f3f9fb', '#f4f7fb', '#f6f7fa', '#fbf8f8', '#fbf7f2']//, '#eef8f9', '#eef8f9', '#eef8f9'],
  light: ['#faf2c8', '#f9f7d6', '#edf7ea', '#d6f6f4', '#ddf6f8', '#e3f5fa', '#ebeffa', '#f1edf9', '#faf0f2', '#fbf0e2']
}

const rand = t => Math.floor(Math.random() * Math.floor(t))

const randomColor = () => {
  const type = (isDarkModeEnabled()) ? 'dark' : 'light'
  const cols = colors[type]
  return cols[rand(cols.length)]
}

// yep, i stole this from: https://codepen.io/sharnajh/pen/YzXOGpm
export default {
  name: 'BloxAnimation',

  data() {
    return {
      columns: 0,
      rows: 0,
      total: 1,
      timer: null,
      running: false,
    }
  },

  methods: {
    getGridSize() {
      this.columns = Math.floor(this.$el.clientWidth / 35)
      this.rows = Math.floor(this.$el.clientHeight / 35)
      this.total = this.rows * this.columns + 100

      anime({
        targets: '.anim-grid-item',
        backgroundColor: 'transparent',
        duration: 0,
        easing: 'linear'
      })
    },
    triggerStagger() {
      if (this.running) return
      this.running = true
      const { columns, rows, total, runPingInterval } = this
      const toggle = () => (this.running = false)
      setTimeout(() => {
        anime({
          targets: '.anim-grid-item',
          backgroundColor: randomColor(),
          delay: anime.stagger(40, { grid: [columns, rows], from: rand(total) }),
          complete: function(anim) {
            toggle()
            runPingInterval()
          },
        })
      }, 700)
      anime({
        targets: '.anim-grid-item',
        rotateZ: anime.stagger([rand(15) * -1, rand(90)], {grid: [columns, rows], from: rand(total), axis: 'x'}),
        translateX: anime.stagger([rand(5) * -1, rand(150)], {grid: [columns, rows], from: rand(total), axis: 'x'}),
        translateY: anime.stagger([rand(15) * -1, rand(50)], {grid: [columns, rows], from: rand(total), axis: 'y'}),
      })
    },
    runPingInterval() {
      if (this.timer) clearTimeout(this.timer)
      this.timer = setTimeout(() => {
        this.triggerStagger()
      }, 3 * 1000);
    },
  },

  mounted() {
    this.getGridSize()
    setTimeout(() => {
      this.triggerStagger()
    }, 1 * 1000);
    window.addEventListener('resize', this.getGridSize)
  }
}
</script>

<style>
.anim-grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(35px, 1fr));
  justify-content: center;
  z-index: -1;
  /* opacity: 0.5; */
}
.anim-grid .anim-grid-item {
  min-width: 100%;
  min-height: 100%;
  background-color: '#CCC';
  /* transition: background-color 120ms ease; */
  position: relative;
}
.anim-grid .anim-grid-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
}
</style>