<template>
  <div class="py-1 mt-10" role="menu" aria-orientation="vertical" aria-labelledby="chuld-page-menu">
    <router-link to="/user/account" class="flex flex-row px-4 py-2 text-md text-gray-700 hover:bg-turquoise-100 hover:text-gray-900 dark:text-gray-300 dark:hover:bg-turquoise-900 dark:hover:text-gray-50 rounded" :class="{'bg-turquoise-200 text-gray-900 dark:bg-turquoise-700 dark:text-white': path == '/user/account'}" role="menuitem">
      <svg class="-ml-1 mr-2 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Account</span>
    </router-link>
    <router-link to="/user/billing" class="flex flex-row px-4 py-2 text-md text-gray-700 hover:bg-turquoise-100 hover:text-gray-900 dark:text-gray-300 dark:hover:bg-turquoise-900 dark:hover:text-gray-50 rounded" :class="{'bg-turquoise-200 text-gray-900 dark:bg-turquoise-700 dark:text-white': path == '/user/billing'}" role="menuitem">
      <svg class="-ml-1 mr-2 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
      </svg>
      <span>Billing</span>
    </router-link>
    <router-link to="/user/notification-settings" class="flex flex-row px-4 py-2 text-md text-gray-700 hover:bg-turquoise-100 hover:text-gray-900 dark:text-gray-300 dark:hover:bg-turquoise-900 dark:hover:text-gray-50 rounded" :class="{'bg-turquoise-200 text-gray-900 dark:bg-turquoise-700 dark:text-white': path == '/user/notification-settings'}" role="menuitem">
      <svg class="-ml-1 mr-2 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
      </svg>
      <span>Notifications</span>
    </router-link>
    <router-link to="/user/integrations" class="flex flex-row px-4 py-2 text-md text-gray-700 hover:bg-turquoise-100 hover:text-gray-900 dark:text-gray-300 dark:hover:bg-turquoise-900 dark:hover:text-gray-50 rounded" :class="{'bg-turquoise-200 text-gray-900 dark:bg-turquoise-700 dark:text-white': path == '/user/integrations'}" role="menuitem">
      <svg class="-ml-1 mr-2 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z" />
      </svg>
      <span>Integrations</span>
    </router-link>
    <router-link to="/user/apps" class="flex flex-row px-4 py-2 text-md text-gray-700 hover:bg-turquoise-100 hover:text-gray-900 dark:text-gray-300 dark:hover:bg-turquoise-900 dark:hover:text-gray-50 rounded" :class="{'bg-turquoise-200 text-gray-900 dark:bg-turquoise-700 dark:text-white': path == '/user/apps'}" role="menuitem">
      <svg class="-ml-1 mr-2 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z" />
      </svg>
      <span>Apps</span>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'ChildPageMenu',

  data() {
    return {
      path: ''
    }
  },

  methods: {
    updatePath() {
      this.path = this.$route.path
    },
  },

  mounted() {
    this.updatePath()
  },

  watch: {
    $route: ['updatePath'],
  },
}
</script>
