<template>
  <div class="toggle-switch">
    <label class="switch" for="checkbox">
      <input type="checkbox" :checked="active" />
      <div class="slider round" :class="{permanent: permanent}" />
    </label>
  </div>
</template>

<script>
export default {
  name: 'ToggleSwitch',
  props: ['active', 'permanent'],
}
</script>

<style scoped>
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  background-color: hsla(0, 0%, 59%, 0.2);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #0c978e;
}

input:checked + .slider.permanent {
  background-color: #f7ce68;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%
}
</style>
