<template>
<div>
  <div class="lg:flex lg:items-center lg:justify-between mb-10 mt-10">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 dark:text-white sm:text-3xl sm:truncate">
        Hello, <span v-if="accountId">{{ accountId }}</span>
      </h2>
    </div>
    <div class="mt-5 flex lg:mt-0 lg:ml-4">
      <span class="sm:ml-3">
        <button type="button" @click.prevent="saveAccount" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-turquoise-600 hover:bg-turquoise-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-turquoise-500" :class="{'opacity-25 cursor-not-allowed': needsSave == false}">
          <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
          </svg>
          Save
        </button>
      </span>
    </div>
  </div>

  <div class="bg-white dark:bg-turquoise-950 shadow mb-4 sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
        Account Preferences
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        Manage preferences for your account.
      </p>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        View deployed blockchain contract <a class="text-blush-500" :href="subscriptionContractLink">source here →</a>
      </p>
    </div>
    <div class="">
      <dl>
        <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="flex flex-row text-sm font-medium text-gray-500 dark:text-white">
            <svg class="-ml-1 mr-2 h-5 w-5 stroke-current text-gray-800 dark:text-gray-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
            </svg>
            <span>Root Account ID</span>
          </dt>
          <dd class="mt-1 text-sm text-gray-900 dark:text-gray-50 sm:mt-0 sm:col-span-2">
            {{ account_id }}
          </dd>
        </div>
        <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="flex flex-row text-sm font-medium text-gray-500 dark:text-white">
            <svg class="-ml-1 mr-2 h-5 w-5 stroke-current text-gray-800 dark:text-gray-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>Timezone</span>
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <select v-model="user_timezone" @change="updateTimezone" id="Timezone" name="timezone" class="border border-gray-300 dark:border-gray-700 rounded-md shadow-sm text-sm font-medium text-gray-700 dark:text-white bg-white dark:bg-turquoise-900 hover:bg-white dark:hover:bg-turquoise-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-turquoise-500">
              <option v-for="tz in timezones" :key="tz">{{ tz }}</option>
            </select>
          </dd>
        </div>
        <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="flex flex-row text-sm font-medium text-gray-500 dark:text-white">
            <svg class="-ml-1 mr-2 h-5 w-5 stroke-current text-gray-800 dark:text-gray-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>Currency</span>
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <select v-model="user_currency" @change="updateCurrency" id="Currency" name="currency" class="border border-gray-300 dark:border-gray-700 rounded-md shadow-sm text-sm font-medium text-gray-700 dark:text-white bg-white dark:bg-turquoise-900 hover:bg-white dark:hover:bg-turquoise-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-turquoise-500">
              <option v-for="cr in currencies" :key="cr">{{ cr }}</option>
            </select>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="bg-white dark:bg-turquoise-950 shadow overflow-hidden mb-4 sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
        Account ID Preferences
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        Configure specific or all account IDs preferences.
      </p>
    </div>

    <div class="px-4 sm:px-6 mb-5">
      <div class="flex">
        <div class="flex-none w-20">
          <div @click.prevent="toggleWildcard">
            <ToggleSwitch class="flex mx-auto my-auto" :active="wildcardActive" />
          </div>
        </div>
        <div class="flex-grow">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
              Watch All Sub Account IDs
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
              Example: <strong>*.{{ account_id }}</strong>, notifications will work for all sub account IDs found for this root account.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="border-solid border-t-4 border-gray-50 dark:border-turquoise-900 m-10" :class="{hidden: wildcardActive}" />

    <div class="px-4 sm:px-6" :class="{hidden: wildcardActive}">
      <div class="grid grid-cols-4 gap-6">
        <div class="col-span-3 sm:col-span-2">
          <label for="add_sub_account" class="block text-sm font-medium text-gray-700 dark:text-white">
            Add Sub Account ID
          </label>
          <div class="mt-1 flex rounded-md shadow-sm">
            <span class="inline-flex items-center px-3 pr-1 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 dark:border-gray-900 dark:bg-gray-600 dark:text-gray-300 text-sm">
              <svg class="-ml-1 mr-1 h-5 w-5 stroke-current text-gray-800 dark:text-gray-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
              </svg>
            </span>
            <input type="text" v-model="newSubAccount" name="add_sub_account" id="add_sub_account" class="focus:ring-turquoise-500 focus:border-turquoise-500 flex-1 block w-full rounded-none sm:text-sm border-gray-300 dark:border-gray-900 dark:bg-gray-500 dark:text-white placeholder-gray-400" placeholder="sub_account_id">
            <span class="inline-flex items-center px-3 pl-1 rounded-r-md border border-l-0 border-gray-300 bg-gray-50 text-gray-500 dark:border-gray-900 dark:bg-gray-600 dark:text-gray-300 text-sm">
              .{{ account_id }}
            </span>
          </div>
          <p class="mt-2 text-sm text-gray-500">
            Adding a sub account ID means notifications will only watch these accounts instead of all sub account IDs.
          </p>
        </div>
        <div class="col-span-1 sm:col-span-1">
          <button @click.prevent="addSubAccount()" type="button" class="inline-flex items-center mt-6 px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-turquoise-600 hover:bg-turquoise-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-turquoise-500">
            <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
            Add
          </button>
        </div>
      </div>
    </div>

    <div class="px-4 py-5 sm:px-6" :class="{hidden: wildcardActive}">
      <h3 class="block text-sm font-medium mb-2 text-gray-900 dark:text-white">
        Sub Account IDs
      </h3>
      <ul class="border border-gray-200 dark:border-turquoise-900 rounded-md divide-y divide-gray-200 dark:divide-turquoise-900">
        <li v-for="(item, idx) in sub_accound_ids" :key="item" class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
          <div class="w-0 flex-1 flex items-center text-gray-800 dark:text-gray-200">
            <svg class="-ml-1 mr-2 h-5 w-5 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
            </svg>
            <span class="ml-2 flex-1 w-0 truncate">
              {{ item }}.{{ account_id }}
            </span>
          </div>
          <div class="ml-4 flex-shrink-0">
            <a href="" @click.prevent="removeSubAccount(idx)" class="font-medium text-turquoise-600 hover:text-turquoise-500">
              Remove
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { print } from 'graphql'
import gql from 'graphql-tag'
import { GetUserSettings, UpdateUserSettings } from '../gql/settings'
import { GetSystem } from '../gql/system'
import ToggleSwitch from '../components/ToggleSwitch.vue'

export default {
  name: 'Account',

  components: {
    ToggleSwitch,
  },

  data() {
    return {
      currencies: null,
      timezones: null,
      wildcardActive: true,
      newSubAccount: '',
      user_timezone: 'America/Los_Angeles',
      user_currency: 'USD',
      subscription_contract_id: '',
      sub_accound_ids: [],
      changedDetails: {},
    }
  },

  computed: {
    ...mapGetters(['gqlUrl', 'account_id']),
    accountId() {
      return this.$near && this.$near.user && this.$near.user.accountId ? this.$near.user.accountId : null
    },
    subscriptionContractLink() {
      return this.subscription_contract_id ? `${this.$near.config.explorerUrl}/accounts/${this.subscription_contract_id}` : '#'
    },
    needsSave() {
      return Object.keys(this.changedDetails).length > 0
    },
  },

  methods: {
    ...mapActions(['update']),
    toggleWildcard() {
      this.wildcardActive = !this.wildcardActive
    },
    async getSystem() {
      if (this.currencies && this.timezones) return
      const req = gql`${GetSystem}`
      const { data } = await this.$http.post(this.gqlUrl, { query: print(req), variables: {}})

      if (data.data && data.data.system) {
        const system = data.data.system
        if (system.currencies) this.currencies = system.currencies
        if (system.timezones) this.timezones = system.timezones
      }
    },
    async getUserSettings() {
      if (!this.account_id) return
      const req = gql`${GetUserSettings}`
      const { data } = await this.$http.post(this.gqlUrl, { query: print(req), variables: { user_id: this.account_id }})
      if (data.data && data.data.userSettings) {
        const user = data.data.userSettings
        // this.update({ key: 'account', value: { ...this.$near.user } })
        if (user.sub_account_ids && user.sub_account_ids.length > 0) this.wildcardActive = false
        if (user.timezone) this.user_timezone = user.timezone
        if (user.currency) this.user_currency = user.currency
        if (user.subscription_contract_id) this.subscription_contract_id = user.subscription_contract_id
      }
    },
    updateCurrency() {
      this.changedDetails.currency = this.user_currency
    },
    updateTimezone() {
      this.changedDetails.timezone = this.user_timezone
    },
    async addSubAccount() {
      const new_id = `${this.newSubAccount}`
      if (this.sub_accound_ids.includes(new_id)) return
      this.sub_accound_ids.unshift(new_id)
      this.newSubAccount = ''
      this.changedDetails.sub_accound_ids = this.sub_accound_ids
    },
    async removeSubAccount(idx) {
      this.sub_accound_ids.splice(idx, 1)
      if (!this.sub_accound_ids.length) this.wildcardActive = true
      this.changedDetails.sub_accound_ids = this.sub_accound_ids
    },
    async saveAccount() {
      const req = gql`${UpdateUserSettings}`
      const variables = {
        ...this.changedDetails,
        user_id: this.account_id,
      }
      console.log('SAVING:', variables);
      try {
        await this.$http.post(this.gqlUrl, { mutation: print(req), variables })
        console.log('Saved account!')
        // IF success, clear changed details
        this.changedDetails = {}
      } catch(e) {}
      
    },
  },

  async mounted() {
    await this.getSystem()
    await this.getUserSettings()

    if (!this.account_id) setTimeout(async () => {
      await this.getUserSettings()
    }, 1000)
  },
}
</script>