<template>
<div>
  <div class="lg:flex lg:items-center lg:justify-between mb-10 mt-10">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 dark:text-white sm:text-3xl sm:truncate">
        Apps
      </h2>
      <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
        <div class="mt-2 flex items-center text-sm text-gray-500">
          Decide which applications you'd like to receive communications.
        </div>
      </div>
    </div>
    <div class="mt-5 flex lg:mt-0 lg:ml-4">
      <span class="sm:ml-3">
        <button type="button" @click.prevent="save" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-turquoise-600 hover:bg-turquoise-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" :class="{'opacity-25 cursor-not-allowed': needsSave == false}">
          <!-- Heroicon name: inbox-in -->
          <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
          </svg>
          Save
        </button>
      </span>
    </div>
  </div>

  <div class="bg-white bg-opacity-1 shadow overflow-hidden mt-10 sm:rounded-lg">
    <div class="flex-column items-center px-4 py-5 sm:px-6">
      <div class="flex pb-5">
        <div class="flex-grow">
          <img v-if="metadata.brandLogo" :src="metadata.brandLogo" :alt="metadata.brandName" class="h-24 w-auto" />
          <h3 v-if="!metadata.brandLogo" class="text-lg leading-6 font-medium text-gray-900">
            {{ metadata.brandName }}
          </h3>
          <p class="mt-1 text-sm text-gray-500">
            {{ metadata.brandTagline }}
          </p>
        </div>
      </div>
      <div class="flex items-center">
        <!-- <div class="flex-none w-20 h-8">
          <div @click.prevent="sputnikActive = !sputnikActive">
            <ToggleSwitch class="flex mx-auto my-auto" :active="sputnikActive" />
          </div>
        </div> -->
        <div class="flex-grow h-12">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            {{ metadata.brandName }} Notifications
          </h3>
          <p class="mt-1 text-sm text-gray-500">
            Adjust settings for notifications for {{ metadata.brandName }}
          </p>
        </div>
      </div>
    </div>

    <div v-for="(item, idx) in alerts" :key="idx">

      <div class="bg-gray-100 shadow overflow-hidden mb-0">
        <div class="flex items-center px-4 py-5 sm:px-6">
          <div class="flex-none w-20 h-8">
            <div @click.prevent="toggleItem(idx, item)">
              <ToggleSwitch class="flex mx-auto my-auto" :active="item.active" />
            </div>
          </div>
          <div class="flex-grow h-12">
            <div>
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                {{ item.title }}
              </h3>
              <p class="mt-1 text-sm text-gray-500">
                {{ item.desc }}
              </p>
            </div>
          </div>
          <!-- <div class="flex-none w-7 h-7">
            <button>
              <svg class="-ml-1 mr-7 h-7 w-7 stroke-current text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
              </svg>
            </button>
          </div> -->
        </div>

        <div class="px-4 sm:px-6 max-h-0 overflow-hidden" :class="{'max-h-full': item.active}">
          <fieldset>
            <legend class="text-base font-medium text-gray-900">Integrations Settings</legend>
            <div class="flex flex-row items-start mt-4 mb-4">
              <div class="flex mr-8">
                <input :id="`checkbox_email_${idx}`" @click="checkboxUpdate(idx, item, 'email')" v-model="item.email" :name="`checkbox_email_${idx}`" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-turquoise-600 border-gray-300 rounded" />
                <label :for="`checkbox_email_${idx}`" class="ml-3 text-sm font-medium text-gray-700">Email</label>
              </div>
              <!-- <div class="flex mr-8">
                <input :id="`checkbox_sms_${idx}`" @click="checkboxUpdate(idx, item, 'sms')" v-model="item.sms" :name="`checkbox_sms_${idx}`" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-turquoise-600 border-gray-300 rounded" />
                <label :for="`checkbox_sms_${idx}`" class="ml-3 text-sm font-medium text-gray-700">SMS</label>
              </div> -->
              <div class="flex mr-8">
                <input :id="`checkbox_slack_${idx}`" @click="checkboxUpdate(idx, item, 'slack')" v-model="item.slack" :name="`checkbox_slack_${idx}`" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-turquoise-600 border-gray-300 rounded" />
                <label :for="`checkbox_slack_${idx}`" class="ml-3 text-sm font-medium text-gray-700">Slack</label>
              </div>
              <div class="flex mr-8">
                <input :id="`checkbox_rocket_${idx}`" @click="checkboxUpdate(idx, item, 'rocketchat')" v-model="item.rocketchat" :name="`checkbox_rocket_${idx}`" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-turquoise-600 border-gray-300 rounded" />
                <label :for="`checkbox_rocket_${idx}`" class="ml-3 text-sm font-medium text-gray-700">Rocketchat</label>
              </div>
              <!-- <div class="flex mr-8">
                <input :id="`checkbox_telegram_${idx}`" @click="checkboxUpdate(idx, item, 'telegram')" v-model="item.telegram" :name="`checkbox_telegram_${idx}`" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-turquoise-600 border-gray-300 rounded" />
                <label :for="`checkbox_telegram_${idx}`" class="ml-3 text-sm font-medium text-gray-700">Telegram</label>
              </div> -->
            </div>
          </fieldset>
        </div>
      </div>

    </div>
  </div>

  <div class="bg-white dark:bg-cerulean-700 bg-opacity-1 dark:bg-opacity-25 shadow overflow-hidden mt-10 sm:rounded-lg">
    <div class="flex items-center px-4 py-5 sm:px-6">
      <div class="flex-grow">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
            More Apps Coming Soon!
          </h3>
          <p class="mt-1 text-sm text-gray-500 dark:text-gray-200">
            We're working hard on enabling apps to notify you of important activity and keep you in the loop on actions you need to take.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { print } from 'graphql'
import gql from 'graphql-tag'
import { GetUserSettings, UpdateUserAlerts, SendUserAlertTest } from '../gql/settings'
import ToggleSwitch from '../components/ToggleSwitch.vue'

const pingboxAccounts = ['pingbox.testnet', 'pingbox.pbx.testnet', 'pingbox.near', 'manager_v1.pingbox.near']

const metadata = {
  type: 'dappcore',
  theme: 'dark',
  // brandIcon: 'https://uniswap.org/favicon-32x32.png',
  brandIcon: '../public/dapps/sputnik_logo_color_black.svg',
  brandLogo: './dapps/sputnik_logo_color_black.svg',
  brandName: 'Sputnik',
  brandUrl: 'https://sputnik.fund',
  brandColor: '#7600FF',
  brandTagline: 'SputnikDAO is a hub of DAOs empowering communities to create a guild for your meaningful project to find allies and monthly funding.',
  ctaTitle: 'Vote Now →',
  ctaUrl: `https://testnet-v2.sputnik.fund/`,
}

// const alerts = [
//   {
//     _id: '',
//     active: true,
//     type: 'transfer',
//     title: 'Balance Transfers',
//     desc: 'Alerts for when your account sends or receives funds.',
//     account_ids: ['String'],
//     email: true,
//     inbox: true,
//     rocketchat: true,
//     slack: true,
//     sms: true,
//   },
//   {
//     _id: '',
//     active: false,
//     type: 'staking',
//     title: 'Staking Rewards',
//     desc: 'Alerts for delegating, earning, unstaking & more.',
//     account_ids: ['String'],
//     email: true,
//     inbox: true,
//     rocketchat: true,
//     slack: true,
//     sms: true,
//   },
// ]

export default {
  name: 'Apps',

  components: {
    ToggleSwitch,
  },

  data() {
    return {
      metadata,
      // alerts,
      // sputnikActive: true,
      alerts: [],
      changedDetails: {},
    }
  },

  computed: {
    ...mapGetters(['gqlUrl', 'account_id']),
    accountId() {
      return this.$near && this.$near.user && this.$near.user.accountId ? this.$near.user.accountId : null
    },
    needsSave() {
      return Object.keys(this.changedDetails).length > 0
    },
  },

  methods: {
    toggleItem(idx, data) {
      this.alerts[idx].active = !this.alerts[idx].active

      if (!this.changedDetails.alerts) {
        this.changedDetails.alerts = []
        this.changedDetails.alerts.push({ ...data })
      } else {
        let has = false
        this.changedDetails.alerts.forEach(a => { if (a.type === data.type) has = true })
        if (has) this.changedDetails.alerts[idx] = { ...data }
        else this.changedDetails.alerts.push({ ...data })
      }
    },
    checkboxUpdate(idx, data, type) {
      this.alerts[idx][type] = !this.alerts[idx][type]

      if (!this.changedDetails.alerts) {
        this.changedDetails.alerts = []
        this.changedDetails.alerts.push({ ...this.alerts[idx] })
      } else {
        let has
        this.changedDetails.alerts.forEach((a, i) => { if (a.type === data.type) has = i })
        if (has !== undefined) this.changedDetails.alerts[has][type] = data[type]
        else this.changedDetails.alerts.push({ ...this.alerts[idx] })
      }
    },
    async getUserSettings() {
      if (!this.account_id) return
      const req = gql`${GetUserSettings}`
      const { data } = await this.$http.post(this.gqlUrl, { query: print(req), variables: { user_id: this.account_id }})
      if (data.data && data.data.userSettings) {
        const user = data.data.userSettings
        let network = 'testnet'
        if (this.account_id.search('\.near') > -1) network = 'mainnet'
        if (this.account_id.search('\.guildnet') > -1) network = 'guildnet'
        // filter to only pingbox and current user account network
        if (user.alerts) this.alerts = user.alerts.filter(al => {
          return !pingboxAccounts.includes(al.app_id) || al.network !== network
        })
      }
    },
    async sendTest() {
      const req = gql`${SendUserAlertTest}`
      try {
        await this.$http.post(this.gqlUrl, { query: print(req), variables: { type: 'email', user_id: this.account_id } })
      } catch(e) {
        console.log(e);
      }
    },
    async save() {
      const req = gql`${UpdateUserAlerts}`
      try {
        await Promise.all(this.changedDetails.alerts.map(async alert => {
          const variables = {
            ...alert,
            user_id: this.account_id,
          }
          const { data } = await this.$http.post(this.gqlUrl, { query: print(req), variables })
          if (data && data.updateUserAlert) variables.uuid = data.updateUserAlert.uuid

          return variables
        }))
      } catch(e) {}

      // TODO: Apply UUID to item
      console.log('Saved account!')
      // IF success, clear changed details
      this.changedDetails = {}
    },
  },

  async mounted() {
    await this.getUserSettings()

    if (!this.account_id) setTimeout(async () => {
      await this.getUserSettings()
    }, 1000)
  },
}
</script>