<template>
<div>
  <div class="lg:flex lg:items-center lg:justify-between mb-10 mt-10">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 dark:text-white sm:text-3xl sm:truncate">
        Billing
      </h2>
      <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
        <div class="mt-2 flex items-center text-sm text-gray-500">
          Rewards and payment history for your records.
        </div>
      </div>
    </div>
    <!-- <div class="mt-5 flex lg:mt-0 lg:ml-4">
      <span class="sm:ml-3">
        <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-turquoise-600 hover:bg-turquoise-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Heroicon name: inbox-in
          <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
          </svg>
          Save
        </button>
      </span>
    </div> -->
  </div>

  <div class="bg-white dark:bg-turquoise-950 shadow overflow-hidden mb-4 sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6 mb-4">
      <h3 class="block text-sm font-medium mb-3 text-gray-900 dark:text-white">
        Current Subscription Plan
      </h3>
      
      <div class="flex justify-between bg-gray-400 bg-opacity-10 dark:bg-gray-900 rounded px-2 py-4">
        <div class="flex flex-0 px-4 text-6xl text-gray-800 dark:text-turquoise-300">
          <span class="">🥳</span>
          <span class="transform translate-x-1 -translate-y-2 scale-90 rotate-12">💌</span>
        </div>
        <div class="flex-1 my-auto">
          <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
            Early Adopter
          </h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Fully decentralized, customizable notifications for personal wallet, dApps & blockchain activity. Early adopter price.
          </p>
        </div>
        <div class="flex-0 my-auto ml-auto text-center">
          <h3 class="flex justify-start px-2 text-3xl leading-6 font-medium text-gray-900 dark:text-white">
            3
            <svg class="flex-0 ml-1 h-6 w-8 stroke-current" fill="none" height="100%" viewBox="0 0 38 38" width="100%" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
              <path d="m11.0833 11.0833 1.1196-1.11956c-.4528-.45282-1.1338-.58829-1.7255-.34322-.59164.24507-.9774.82238-.9774 1.46278zm0 15.8334h-1.5833c0 .6404.38576 1.2177.9774 1.4628.5917.2451 1.2727.1096 1.7255-.3433zm15.8334-15.8334h1.5833c0-.6404-.3857-1.21771-.9774-1.46278s-1.2727-.1096-1.7255.34322zm0 15.8334-1.1196 1.1195c.4528.4529 1.1338.5884 1.7255.3433s.9774-.8224.9774-1.4628zm-5.0779-12.9946c-.6183.6183-.6183 1.6208 0 2.2391s1.6208.6183 2.2391 0zm-5.6776 10.1558c.6183-.6183.6183-1.6209 0-2.2391-.6183-.6183-1.6208-.6183-2.2391 0zm-6.6612-12.9946v15.8334h3.1667v-15.8334zm15.8333 0v15.8334h3.1667v-15.8334zm2.7029 14.7138-15.8333-15.83336-2.23916 2.23916 15.83336 15.8333zm-3.9583-9.6359 3.9583-3.9583-2.2391-2.23916-3.9583 3.95836zm-11.875 11.875 3.9583-3.9583-2.2391-2.2391-3.95836 3.9583z" fill="currentColor"/>
              <path d="m19 36.4167c9.619 0 17.4167-7.7977 17.4167-17.4167 0-9.61896-7.7977-17.41666-17.4167-17.41666-9.61896 0-17.41666 7.7977-17.41666 17.41666 0 9.619 7.7977 17.4167 17.41666 17.4167z" stroke="currentColor" stroke-width="2"/>
            </svg>
          </h3>
          <p class="mt-1 max-w-2xl text-xs uppercase text-gray-500">
            Per Year
          </p>
        </div>
      </div>
    </div>

    <div class="px-4 py-2 sm:px-6" :class="{hidden: wildcardActive}">
      <h3 class="block text-sm font-medium mb-0 text-gray-900 dark:text-white">
        Transaction History
      </h3>
    </div>
    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden">
            <table class="min-w-full divide-y divide-gray-200 dark:divide-turquoise-800">
              <thead class="bg-gray-400 bg-opacity-10 dark:bg-turquoise-900">
                <tr>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Type
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Timestamp
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Status
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Amount
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Receipt
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 dark:divide-turquoise-800">
                <tr v-for="tx in transactions" :key="tx">
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div v-if="tx.type == 'reward'" class="flex-1 flex items-center text-sm text-gray-800 dark:text-gray-200">
                      <svg class="-ml-1 mr-0 h-5 w-5 stroke-current" fill="none" height="100%" viewBox="0 0 38 38" width="100%" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                        <path d="m11.0833 11.0833 1.1196-1.11956c-.4528-.45282-1.1338-.58829-1.7255-.34322-.59164.24507-.9774.82238-.9774 1.46278zm0 15.8334h-1.5833c0 .6404.38576 1.2177.9774 1.4628.5917.2451 1.2727.1096 1.7255-.3433zm15.8334-15.8334h1.5833c0-.6404-.3857-1.21771-.9774-1.46278s-1.2727-.1096-1.7255.34322zm0 15.8334-1.1196 1.1195c.4528.4529 1.1338.5884 1.7255.3433s.9774-.8224.9774-1.4628zm-5.0779-12.9946c-.6183.6183-.6183 1.6208 0 2.2391s1.6208.6183 2.2391 0zm-5.6776 10.1558c.6183-.6183.6183-1.6209 0-2.2391-.6183-.6183-1.6208-.6183-2.2391 0zm-6.6612-12.9946v15.8334h3.1667v-15.8334zm15.8333 0v15.8334h3.1667v-15.8334zm2.7029 14.7138-15.8333-15.83336-2.23916 2.23916 15.83336 15.8333zm-3.9583-9.6359 3.9583-3.9583-2.2391-2.23916-3.9583 3.95836zm-11.875 11.875 3.9583-3.9583-2.2391-2.2391-3.95836 3.9583z" fill="currentColor"/>
                        <path d="m19 36.4167c9.619 0 17.4167-7.7977 17.4167-17.4167 0-9.61896-7.7977-17.41666-17.4167-17.41666-9.61896 0-17.41666 7.7977-17.41666 17.41666 0 9.619 7.7977 17.4167 17.41666 17.4167z" stroke="currentColor" stroke-width="2"/>
                      </svg>
                      <span class="ml-2 flex-1 w-0">
                        Reward Earned
                      </span>
                    </div>
                    <div v-if="tx.type == 'payment'" class="flex-1 flex items-center text-sm text-gray-800 dark:text-gray-200">
                      <svg class="-ml-1 mr-0 h-5 w-5 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                      </svg>
                      <span class="ml-2 flex-1 w-0">
                        Payed
                      </span>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-800 dark:text-gray-200">{{ tx.timestamp }}</div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-50 text-gray-800">
                      {{ tx.status }}
                    </span>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <div class="flex justify-start text-sm text-gray-800 dark:text-gray-200">
                      {{ tx.amount }}
                      <svg class="flex-0 ml-1 h-5 w-5 stroke-current" fill="none" height="100%" viewBox="0 0 38 38" width="100%" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                        <path d="m11.0833 11.0833 1.1196-1.11956c-.4528-.45282-1.1338-.58829-1.7255-.34322-.59164.24507-.9774.82238-.9774 1.46278zm0 15.8334h-1.5833c0 .6404.38576 1.2177.9774 1.4628.5917.2451 1.2727.1096 1.7255-.3433zm15.8334-15.8334h1.5833c0-.6404-.3857-1.21771-.9774-1.46278s-1.2727-.1096-1.7255.34322zm0 15.8334-1.1196 1.1195c.4528.4529 1.1338.5884 1.7255.3433s.9774-.8224.9774-1.4628zm-5.0779-12.9946c-.6183.6183-.6183 1.6208 0 2.2391s1.6208.6183 2.2391 0zm-5.6776 10.1558c.6183-.6183.6183-1.6209 0-2.2391-.6183-.6183-1.6208-.6183-2.2391 0zm-6.6612-12.9946v15.8334h3.1667v-15.8334zm15.8333 0v15.8334h3.1667v-15.8334zm2.7029 14.7138-15.8333-15.83336-2.23916 2.23916 15.83336 15.8333zm-3.9583-9.6359 3.9583-3.9583-2.2391-2.23916-3.9583 3.95836zm-11.875 11.875 3.9583-3.9583-2.2391-2.2391-3.95836 3.9583z" fill="currentColor"/>
                        <path d="m19 36.4167c9.619 0 17.4167-7.7977 17.4167-17.4167 0-9.61896-7.7977-17.41666-17.4167-17.41666-9.61896 0-17.41666 7.7977-17.41666 17.41666 0 9.619 7.7977 17.4167 17.41666 17.4167z" stroke="currentColor" stroke-width="2"/>
                      </svg>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <a :href="getTxnLink(tx.hash)" target="_blank" class="flex-0 flex justify-end text-sm text-orange-300">
                      <svg class="-ml-1 mr-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                      </svg>
                      <span class="ml-2 flex-1 w-0">
                        View
                      </span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="bg-white dark:bg-turquoise-950 shadow overflow-hidden mb-4 sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
        Referral Rewards
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        Get rewarded for helping pingbox grow! For each referral that successfully signs up to use pingbox, you will be rewarded up to 1 Ⓝ as a thank you! Grab the link below to get started!
      </p>
    </div>

    <div class="px-4 sm:px-6">
      <div class="grid grid-cols-4 gap-6">
        <div class="col-span-3 sm:col-span-2">
          <label for="referral_link" class="block text-sm font-medium text-gray-700 dark:text-white">
            Referral Link
          </label>
          <div class="mt-1 flex rounded-md shadow-sm">
            <span class="inline-flex items-center px-3 pr-1 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 dark:border-gray-900 dark:bg-gray-600 dark:text-gray-300 text-sm">
              <svg class="-ml-1 mr-1 h-5 w-5 stroke-current text-gray-800 dark:text-gray-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
              </svg>
            </span>
            <input type="text" v-model="referralLink" name="referral_link" id="referral_link" class="focus:ring-turquoise-500 focus:border-turquoise-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300 dark:border-gray-900 dark:bg-gray-500 dark:text-white" placeholder="https://pingbox.app/share/IDFBdh12BB13">
          </div>
          <p class="mt-2 text-sm text-gray-500">
            Send this link to a friend! Once they successfully sign up, you will receive your reward.
          </p>
        </div>
        <div class="col-span-1 sm:col-span-1">
          <clipboard-copy for="referral_link" type="button" class="inline-flex items-center mt-6 px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-turquoise-600 hover:bg-turquoise-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-turquoise-500">
            <svg v-if="!activeClipboard" class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
            </svg>
            <svg v-if="activeClipboard" xmlns="http://www.w3.org/2000/svg" class="-ml-1 mr-2 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
            </svg>
            {{ copyTxt }}
          </clipboard-copy>
        </div>
      </div>
    </div>

    <div class="px-4 py-5 sm:px-6" :class="{hidden: wildcardActive}">
      <h3 class="block text-sm font-medium mb-2 text-gray-900 dark:text-white">
        Successful Rewards
      </h3>
      <ul class="border border-gray-200 dark:border-turquoise-900 rounded-md divide-y divide-gray-200 dark:divide-turquoise-900">
        <li v-for="r in rewards" :key="r.account_id" class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
          <div class="w-0 flex-1 flex items-center text-gray-800 dark:text-gray-200">
            <svg class="-ml-1 mr-0 h-5 w-5 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
            </svg>
            <span class="ml-2 flex-1 w-0 truncate">
              {{ r.account_id }}
            </span>
          </div>
          <div class="ml-4 flex-shrink-0">
            <span class="flex font-medium text-turquoise-600 hover:text-turquoise-500">
              Earned +{{ r.amount }}
              <svg class="ml-1 h-5 w-5 stroke-current" fill="none" height="100%" viewBox="0 0 38 38" width="100%" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                <path d="m11.0833 11.0833 1.1196-1.11956c-.4528-.45282-1.1338-.58829-1.7255-.34322-.59164.24507-.9774.82238-.9774 1.46278zm0 15.8334h-1.5833c0 .6404.38576 1.2177.9774 1.4628.5917.2451 1.2727.1096 1.7255-.3433zm15.8334-15.8334h1.5833c0-.6404-.3857-1.21771-.9774-1.46278s-1.2727-.1096-1.7255.34322zm0 15.8334-1.1196 1.1195c.4528.4529 1.1338.5884 1.7255.3433s.9774-.8224.9774-1.4628zm-5.0779-12.9946c-.6183.6183-.6183 1.6208 0 2.2391s1.6208.6183 2.2391 0zm-5.6776 10.1558c.6183-.6183.6183-1.6209 0-2.2391-.6183-.6183-1.6208-.6183-2.2391 0zm-6.6612-12.9946v15.8334h3.1667v-15.8334zm15.8333 0v15.8334h3.1667v-15.8334zm2.7029 14.7138-15.8333-15.83336-2.23916 2.23916 15.83336 15.8333zm-3.9583-9.6359 3.9583-3.9583-2.2391-2.23916-3.9583 3.95836zm-11.875 11.875 3.9583-3.9583-2.2391-2.2391-3.95836 3.9583z" fill="currentColor"/>
                <path d="m19 36.4167c9.619 0 17.4167-7.7977 17.4167-17.4167 0-9.61896-7.7977-17.41666-17.4167-17.41666-9.61896 0-17.41666 7.7977-17.41666 17.41666 0 9.619 7.7977 17.4167 17.41666 17.4167z" stroke="currentColor" stroke-width="2"/>
              </svg>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import { print } from 'graphql'
import gql from 'graphql-tag'
import '@github/clipboard-copy-element'
import { GetUserSettings, GetUserRewards, GetUserTransactions } from '../gql/settings'

export default {
  name: 'Billing',

  data() {
    return {
      referral_id: null,
      subscription: { type: 'early_adopter', amount: '3' },
      transactions: [],
      rewards: [],
      activeClipboard: false,
      copyTxt: 'Copy',
    }
  },

  computed: {
    ...mapGetters(['gqlUrl', 'account_id']),
    referralLink() {
      return `https://${window.location.host}/onboarding?referral=${this.referral_id}`
    },
  },

  methods: {
    getTxnLink(hash) {
      return `${this.$near.config.explorerUrl}/transactions/${hash}`
    },
    async getUserSettings() {
      if (!this.account_id) return
      const req = gql`${GetUserSettings}`
      const { data } = await this.$http.post(this.gqlUrl, { query: print(req), variables: { user_id: this.account_id }})
      console.log('data', data);
      if (data.data && data.data.userSettings) {
        const user = data.data.userSettings
        if (user.user_referral_id) this.referral_id = user.user_referral_id
      }
    },
    async getTransactions() {
      if (!this.account_id) return
      const req = gql`${GetUserTransactions}`
      const { data } = await this.$http.post(this.gqlUrl, { query: print(req), variables: { user_id: this.account_id }})
      console.log('getTransactions data', data);
      if (data.data && data.data.transactions) {
        this.transactions = data.data.transactions || []
      }
    },
    async getRewards() {
      if (!this.account_id) return
      const req = gql`${GetUserRewards}`
      const { data } = await this.$http.post(this.gqlUrl, { query: print(req), variables: { user_id: this.account_id }})
      if (data.data && data.data.rewards) {
        this.rewards = data.data.rewards || []
      }
    },
  },

  async mounted() {
    await this.getUserSettings()
    await this.getTransactions()
    await this.getRewards()

    if (!this.account_id) setTimeout(async () => {
      await this.getUserSettings()
      await this.getTransactions()
      await this.getRewards()
    }, 1000)

    document.addEventListener('clipboard-copy', () => {
      this.activeClipboard = true
      this.copyTxt = 'Copied!'

      setTimeout(() => {
        this.activeClipboard = false
        this.copyTxt = 'Copy'
      }, 3000)
    })
  },
}
</script>