<template>
<main>
  <div class="relative overflow-hidden">
    <div class="relative mx-auto z-10 pb-8 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">

      <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
        <div class="text-center">
          <h1 class="mb-10 text-9xl tracking-tight font-extrabold text-gray-900 dark:text-gray-50 sm:text-5xl md:text-9xl">
            <span class="block xl:inline">
              📜
            </span>
          </h1>
          <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-50 sm:text-5xl md:text-6xl">
            <span class="block xl:inline">Documentation</span><br>
            <span class="block text-orange-300 xl:inline">Coming Soon</span>
          </h1>
          <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
            Pingbox is currently in beta testing. Documentation on specific use, apps and integrations will launch soon!
          </p>
        </div>
      </main>
    </div>
  </div>
</main>
</template>
