<template>
  <main>
    <div class="z-0 relative overflow-hidden">
      <BloxAnimation />
      <div class="relative mx-auto z-10 pb-8 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">

        <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
          <div class="text-center">
            <h1 class="mb-10 flex items-center justify-center text-9xl tracking-tight font-extrabold text-gray-900 dark:text-gray-50 sm:text-5xl md:text-9xl">
              <span>💰</span>
              <span class="text-turquoise-800 text-4xl ml-2 mr-8">→</span>
              <span>📨</span>
            </h1>
            <!-- <div class="mb-10 flex items-center justify-center">
              <img src="https://images.ui8.net/res/robot/image/upload/mailbox_rth0nv/1509555601.gif" srcset="https://images.ui8.net/uploads/mail_2x_r1TLIhr-G.gif 2x, https://images.ui8.net/uploads/mail_3x_rJnIUhHZM.gif 3x" nopin="nopin">
            </div> -->
            <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-50 sm:text-5xl md:text-6xl">
              <span class="block xl:inline">Notifications for </span><br>
              <span class="block text-orange-300 xl:inline">your crypto wallet</span>
            </h1>
            <p class="mt-3 text-base text-gray-500 sm:max-w-lg mx-auto">
              Get alerted for balance transfers & app activity on a decentralized platform built for anti-spam notifications.
            </p>
            <div class="mt-5 sm:mt-8 sm:flex justify-center">
              <div class="rounded-md shadow">
                <router-link to="/onboarding" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blush-600 hover:bg-blush-700 md:py-4 md:text-lg md:px-10">
                  Get started →
                </router-link>
              </div>
              <!-- <div class="mt-3 sm:mt-0 sm:ml-3">
                <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-blush-700 bg-blush-100 hover:bg-blush-200 md:py-4 md:text-lg md:px-10">
                  Learn more
                </a>
              </div> -->
            </div>
          </div>
        </main>
      </div>
    </div>

    <div class="py-32 bg-white dark:bg-gray-900">
      <div class="md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
        <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="relative sm:text-center lg:text-left">
            
            <div class="transform scale-95 -rotate-3 translate-x-2 translate-y-15  block relative z-40 shadow-2xl bg-white dark:bg-gray-800 border-2 border-cerulean-200 dark:border-cerulean-900 rounded-xl sm:rounded-xl p-4 pb-6 sm:p-8 lg:p-4 lg:pb-6 xl:p-8 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8">
              <div class="flex items-center space-x-3.5 sm:space-x-5 lg:space-x-3.5 xl:space-x-5">
                <div class="flex w-20 h-20 rounded-lg bg-cerulean-200 dark:bg-cerulean-700">
                  <svg class="m-auto h-14 w-14 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                </div>
                <div class="min-w-0 flex-auto space-y-0.5">
                  <p class="text-cerulean-600 dark:text-cerulean-400 text-xs sm:text-base lg:text-sm xl:text-base font-semibold uppercase">
                    Balance Transfer
                  </p>
                  <h2 class="text-black dark:text-white text-base sm:text-xl lg:text-base xl:text-xl font-semibold truncate">
                    <strong class="underline">alltoo.near</strong> sent <span class="text-cerulean-400">34 Ⓝ</span> to your account <strong class="underline">bobross.near</strong>
                  </h2>
                  <p class="text-gray-500 dark:text-gray-400 text-base sm:text-md lg:text-base xl:text-lg font-medium">
                    View receipt →
                  </p>
                </div>
              </div>
            </div>

            <div class="transform scale-90 rotate-2 block relative z-30 shadow-xl bg-white dark:bg-gray-800 border-2 border-limegreen-200 dark:border-limegreen-900 rounded-xl sm:rounded-xl p-4 pb-6 sm:p-8 lg:p-4 lg:pb-6 xl:p-8 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8">
              <div class="flex items-center space-x-3.5 sm:space-x-5 lg:space-x-3.5 xl:space-x-5">
                <div class="flex w-20 h-20 rounded-lg bg-limegreen-200 dark:bg-limegreen-700">
                  <svg class="m-auto h-14 w-14 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7" />
                  </svg>
                </div>
                <div class="min-w-0 flex-auto space-y-0.5">
                  <p class="text-limegreen-600 dark:text-limegreen-400 text-xs sm:text-base lg:text-sm xl:text-base font-semibold uppercase">
                    Staking Reward
                  </p>
                  <h2 class="text-black dark:text-white text-base sm:text-xl lg:text-base xl:text-xl font-semibold truncate">
                    Your staking reward of <span class="text-limegreen-400">2.086 Ⓝ</span> is available to withdraw!
                  </h2>
                  <p class="text-gray-500 dark:text-gray-400 text-base sm:text-md lg:text-base xl:text-lg font-medium">
                    View receipt →
                  </p>
                </div>
              </div>
            </div>

            <div class="transform scale-85 -rotate-2 block relative z-20 shadow-lg bg-white dark:bg-gray-800 border-2 border-royalblue-200 dark:border-royalblue-900 rounded-xl sm:rounded-xl p-4 pb-6 sm:p-8 lg:p-4 lg:pb-6 xl:p-8 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8">
              <div class="flex items-center space-x-3.5 sm:space-x-5 lg:space-x-3.5 xl:space-x-5">
                <div class="flex w-20 h-20 rounded-lg bg-royalblue-200 dark:bg-royalblue-700">
                  <svg class="m-auto h-14 w-14 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                  </svg>
                </div>
                <div class="min-w-0 flex-auto space-y-0.5">
                  <p class="text-royalblue-600 dark:text-royalblue-400 text-xs sm:text-base lg:text-sm xl:text-base font-semibold uppercase">
                    Contract Call
                  </p>
                  <h2 class="text-black dark:text-white text-base sm:text-xl lg:text-base xl:text-xl font-semibold truncate">
                    <strong class="underline">happytrees.near</strong> called method <span class="text-royalblue-400">paint</span> on your<br>contract <strong class="underline">art.bobross.near</strong>
                  </h2>
                  <p class="text-gray-500 dark:text-gray-400 text-base sm:text-md lg:text-base xl:text-lg font-medium">
                    View receipt →
                  </p>
                </div>
              </div>
            </div>

            <div class="transform scale-80 rotate-6 block relative z-10 shadow-md bg-white dark:bg-gray-800 border-2 border-blush-200 dark:border-blush-900 rounded-xl sm:rounded-xl p-4 pb-6 sm:p-8 lg:p-4 lg:pb-6 xl:p-8 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8">
              <div class="flex items-center space-x-3.5 sm:space-x-5 lg:space-x-3.5 xl:space-x-5">
                <div class="flex w-20 h-20 rounded-lg bg-blush-200 dark:bg-blush-700">
                  <svg class="m-auto h-14 w-14 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z" />
                  </svg>
                </div>
                <div class="min-w-0 flex-auto space-y-0.5">
                  <p class="text-blush-600 dark:text-blush-400 text-xs sm:text-base lg:text-sm xl:text-base font-semibold uppercase">
                    Access Keys
                  </p>
                  <h2 class="text-black dark:text-white text-base sm:text-xl lg:text-base xl:text-xl font-semibold truncate">
                    New <span class="text-blush-700">Full Access</span> key added to your account <strong class="underline">bobross.near</strong>
                  </h2>
                  <p class="text-gray-500 dark:text-gray-400 text-base sm:text-md lg:text-base xl:text-lg font-medium">
                    View receipt →
                  </p>
                </div>
              </div>
            </div>


          </div>
        </main>
        <main class="flex mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
          <div class="sm:text-center lg:text-left my-auto">
            <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-50 sm:text-5xl md:text-6xl">
              <span class="block xl:inline">Show me some </span>
              <span class="block text-flamingo-600 xl:inline">examples</span>
            </h1>
            <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
              Pingbox provides a large suite of notification types, covering many use cases like transfers, staking, access keys, contract deployment and function calls.
              <br><br>
              You can change your preferences at any time, for all use cases, even filtering to a specific sub-account!
            </p>
          </div>
        </main>
      </div>
      
    </div>

    <div id="features" class="py-32 bg-gray-50 dark:bg-gray-800">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
          <h2 class="text-base text-turquoise-600 font-semibold tracking-wide uppercase">Features</h2>
          <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl">
            Simple, mission critical alerts
          </p>
          <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
            Your connection to your blockchain wallet activity shouldn't just be<br>an explorer or going the app website.
          </p>
        </div>

        <div class="mt-10">
          <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
            <div class="flex">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-orange-500 text-white">
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <dt class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">
                  You Own Your Preferences
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                  When was the last time someone told you, you actually owned the data within the services database? Pingbox uses a blockchain contract you own to verify your preferences before sending any notifications.
                </dd>
              </div>
            </div>

            <div class="flex">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-limegreen-500 text-white">
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <dt class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">
                  Wallet Activity
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                  It's hard to know when you receive assets in your wallet! Get alerted on balance transfers, withdrawals, tokens and more! Never miss a transfer that could catch you off guard (like a large balance movement).
                </dd>
              </div>
            </div>

            <div class="flex">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-cerulean-500 text-white">
                  <!-- Heroicon name: lightning-bolt -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <dt class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">
                  Staking Actions
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                  Securing the network takes time and effort. Staking notifications let you know when your rewards are ready to withdraw as well as keep you updated on delegations.
                </dd>
              </div>
            </div>

            <div class="flex">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-mango-500 text-white">
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <dt class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">
                  Contract interactions
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                  Know when and which contract you're interacting with, activity communications allow you to stay on top of critical next steps.
                </dd>
              </div>
            </div>

            <div class="flex">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-blush-500 text-white">
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z" />
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <dt class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">
                  Access Key Changes
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                  Stay in the loop on critical account activities. You will be aware of any critical activity like when a Full Access key is granted, or a dapp has requested a specific key functionality.
                </dd>
              </div>
            </div>

            <div class="flex">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-royalblue-500 text-white">
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z" />
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <dt class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">
                  Integrations
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                  Configure Slack, Rocketchat and more (coming soon!) to alert you so your email inbox doesn't get flooded. You configure each integration once and can adjust settings per alert.
                </dd>
              </div>
            </div>
          </dl>
        </div>

      </div>
    </div>


    <div id="pricing" class="py-32 bg-white dark:bg-gray-900">
      <div class="md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
        <main class="flex flex-col mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
          <div class="mx-auto sm:text-center lg:text-left my-10 md:my-auto">
            <h1 class="mx-auto text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-50 sm:text-5xl md:text-6xl">
              <span class="block xl:inline">I'm sold, </span>
              <span class="block text-cerulean-400 xl:inline">how much?</span>
            </h1>
            <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
              Pingbox is a simple yearly subscription.<br> It costs less than 1 <span class="text-2xl">🌮</span> per month.<br>
              <!-- <small>Share Pingbox to friends and get rewarded!</small> -->
            </p>
          </div>
        </main>
        <main class="mt-5 mx-auto sm:mt-12 md:mt-16 lg:mt-20 xl:mt-28">
          <div class="flex sm:text-center lg:text-left">
            
            <div class=" mx-auto shadow-lg bg-white dark:bg-gray-800 border-2 border-cerulean-200 dark:border-cerulean-900 rounded-xl">
              <div class="flex flex-col items-center w-80">
                <div class="flex min-w-0 w-full text-9xl p-6 rounded-t-lg bg-cerulean-200 dark:bg-cerulean-900">
                  <span class="transform translate-x-7">🥳</span>
                  <span class="transform translate-x-16 -translate-y-2 scale-110 rotate-12">💌</span>
                </div>
                <div class="flex flex-col min-w-0 w-full flex-auto p-6">
                  <div class="flex flex-row justify-between min-w-0 flex-auto">
                    <h2 class="text-black dark:text-white text-3xl font-light truncate">
                      Early Adopter
                    </h2>
                    <div class="flex text-cerulean-600 dark:text-cerulean-400 text-3xl font-semibold uppercase">
                      3
                      <svg class="flex-0 ml-1 h-9 w-9 stroke-current" fill="none" height="100%" viewBox="0 0 38 38" width="100%" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                        <path d="m11.0833 11.0833 1.1196-1.11956c-.4528-.45282-1.1338-.58829-1.7255-.34322-.59164.24507-.9774.82238-.9774 1.46278zm0 15.8334h-1.5833c0 .6404.38576 1.2177.9774 1.4628.5917.2451 1.2727.1096 1.7255-.3433zm15.8334-15.8334h1.5833c0-.6404-.3857-1.21771-.9774-1.46278s-1.2727-.1096-1.7255.34322zm0 15.8334-1.1196 1.1195c.4528.4529 1.1338.5884 1.7255.3433s.9774-.8224.9774-1.4628zm-5.0779-12.9946c-.6183.6183-.6183 1.6208 0 2.2391s1.6208.6183 2.2391 0zm-5.6776 10.1558c.6183-.6183.6183-1.6209 0-2.2391-.6183-.6183-1.6208-.6183-2.2391 0zm-6.6612-12.9946v15.8334h3.1667v-15.8334zm15.8333 0v15.8334h3.1667v-15.8334zm2.7029 14.7138-15.8333-15.83336-2.23916 2.23916 15.83336 15.8333zm-3.9583-9.6359 3.9583-3.9583-2.2391-2.23916-3.9583 3.95836zm-11.875 11.875 3.9583-3.9583-2.2391-2.2391-3.95836 3.9583z" fill="currentColor"/>
                        <path d="m19 36.4167c9.619 0 17.4167-7.7977 17.4167-17.4167 0-9.61896-7.7977-17.41666-17.4167-17.41666-9.61896 0-17.41666 7.7977-17.41666 17.41666 0 9.619 7.7977 17.4167 17.41666 17.4167z" stroke="currentColor" stroke-width="2"/>
                      </svg>
                    </div>
                  </div>
                  <div class="flex flex-row justify-between min-w-0 mt-1 flex-auto">
                    <div class="flex text-gray-600 dark:text-gray-400 text-xs lg:text-sm font-semibold uppercase">
                      Subscription Plan
                    </div>
                    <div class="flex text-gray-600 dark:text-gray-400 text-xs lg:text-sm font-semibold uppercase">
                      Per Year
                    </div>
                  </div>
                </div>
                <div>
                  <router-link to="/onboarding" class="inline-flex justify-center uppercase my-5 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-turquoise-600 hover:bg-turquoise-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <svg class="flex-0 mr-2 h-5 w-5 stroke-current" fill="none" height="100%" viewBox="0 0 38 38" width="100%" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                      <path d="m11.0833 11.0833 1.1196-1.11956c-.4528-.45282-1.1338-.58829-1.7255-.34322-.59164.24507-.9774.82238-.9774 1.46278zm0 15.8334h-1.5833c0 .6404.38576 1.2177.9774 1.4628.5917.2451 1.2727.1096 1.7255-.3433zm15.8334-15.8334h1.5833c0-.6404-.3857-1.21771-.9774-1.46278s-1.2727-.1096-1.7255.34322zm0 15.8334-1.1196 1.1195c.4528.4529 1.1338.5884 1.7255.3433s.9774-.8224.9774-1.4628zm-5.0779-12.9946c-.6183.6183-.6183 1.6208 0 2.2391s1.6208.6183 2.2391 0zm-5.6776 10.1558c.6183-.6183.6183-1.6209 0-2.2391-.6183-.6183-1.6208-.6183-2.2391 0zm-6.6612-12.9946v15.8334h3.1667v-15.8334zm15.8333 0v15.8334h3.1667v-15.8334zm2.7029 14.7138-15.8333-15.83336-2.23916 2.23916 15.83336 15.8333zm-3.9583-9.6359 3.9583-3.9583-2.2391-2.23916-3.9583 3.95836zm-11.875 11.875 3.9583-3.9583-2.2391-2.2391-3.95836 3.9583z" fill="currentColor"/>
                      <path d="m19 36.4167c9.619 0 17.4167-7.7977 17.4167-17.4167 0-9.61896-7.7977-17.41666-17.4167-17.41666-9.61896 0-17.41666 7.7977-17.41666 17.41666 0 9.619 7.7977 17.4167 17.41666 17.4167z" stroke="currentColor" stroke-width="2"/>
                    </svg>
                    NEAR Pay
                  </router-link>
                </div>
              </div>
            </div>

          </div>
        </main>
      </div>
      
    </div>

    <!-- TODO: Rewards -->
    <!-- TODO: Developers! -->
    <!-- TODO: FAQs -->

    <div class="bg-gray-50 dark:bg-turquoise-1000">
      <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
        <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          <span class="block text-gray-900 dark:text-white">Let your wallet speak to you</span>
          <span class="block text-turquoise-600">Never miss an important message again.</span>
        </h2>
        <div class="mt-8 lex lg:mt-0 lg:flex-shrink-0">
          <div class="inline-flex rounded-md shadow">
            <router-link to="/onboarding" class="inline-flex items-center justify-center px-10 py-5 border border-transparent text-base font-medium rounded-md text-white bg-turquoise-600 hover:bg-turquoise-700">
              Get started →
            </router-link>
          </div>
        </div>
      </div>
    </div>

    <!-- TODO: Footer??? -->

  </main>
</template>

<script>
import BloxAnimation from '../components/BloxAnimation.vue'

export default {
  components: {
    BloxAnimation,
  },
}
</script>