<template>
<div>
  <div class="lg:flex lg:items-center lg:justify-between mb-10 mt-10">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 dark:text-white sm:text-3xl sm:truncate">
        Integrations
      </h2>
      <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
        <div class="mt-2 flex items-center text-sm text-gray-500">
          Configure channels where you want alerts to be sent.
        </div>
      </div>
    </div>
    <div class="mt-5 flex lg:mt-0 lg:ml-4">
      <span class="sm:ml-3">
        <button type="button" @click.prevent="save" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-turquoise-600 hover:bg-turquoise-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" :class="{'opacity-25 cursor-not-allowed': needsSave == false}">
          <!-- Heroicon name: inbox-in -->
          <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
          </svg>
          Save
        </button>
      </span>
    </div>
  </div>

  <div class="bg-white dark:bg-turquoise-950 shadow overflow-hidden mb-4 sm:rounded-lg">
    <div class="flex items-center px-4 py-5 sm:px-6">
      <div class="flex-none w-20 h-8">
        <ToggleSwitch class="flex mx-auto my-auto" :active="true" :permanent="true" />
      </div>
      <div class="flex-grow h-12">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
            Email
          </h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Alerts sent to your favorite traditional internal inbox.
          </p>
        </div>
      </div>
      <div class="flex-none w-7 h-7">
        <!-- <button>
          Heroicon name: chevron-down
          <svg class="-ml-1 mr-7 h-7 w-7 stroke-current text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </button> -->
      </div>
    </div>

    <div class="flex flex-col px-4 py-5 sm:px-6">

      <div class="grid grid-cols-3 gap-6 mb-2">
        <div class="col-span-3 sm:col-span-2">
          <label for="email_account" class="block text-sm font-medium text-gray-700 dark:text-white">
            Email Address
          </label>
          <div class="mt-1 flex rounded-md shadow-sm">
            <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 dark:border-gray-900 dark:bg-gray-600 dark:text-gray-300 text-sm">
              <svg class="h-5 w-5 stroke-current text-gray-600 dark:text-gray-50" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
              </svg>
            </span>
            <input type="text" v-model="email" name="email_account" id="email_account" class="focus:ring-turquoise-500 focus:border-turquoise-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300 dark:border-gray-900 dark:bg-gray-500 dark:text-white placeholder-gray-400" placeholder="your@email.me">
          </div>
          <p class="mt-2 text-sm text-gray-500">
            Currently required as the main default. Only 1 account is supported at this time.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white dark:bg-turquoise-950 shadow overflow-hidden mb-4 sm:rounded-lg">
    <div class="flex items-center px-4 py-5 sm:px-6">
      <div class="flex-none w-20 h-8">
        <div @click.prevent="toggleItem('slackActive')">
          <ToggleSwitch class="flex mx-auto my-auto" :active="slackActive" />
        </div>
      </div>
      <div class="flex-grow h-12">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
            Slack
          </h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Turns Slack alerts on or off. Useful if you want to disable all alerts.
          </p>
        </div>
      </div>
      <div class="flex-none w-7 h-7">
        <!-- Heroicon name: chevron-up -->
        <!-- <svg class="-ml-1 mr-7 h-7 w-7 stroke-current text-gray-400" :class="{hidden: !slackActive}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
        </svg> -->
      </div>
    </div>

    <div class="flex flex-col px-4 sm:px-6 max-h-0 overflow-hidden" :class="{'max-h-full': slackActive}">

      <div class="grid grid-cols-3 gap-6 mb-5">
        <div class="col-span-3 sm:col-span-2">
          <label for="slack_token" class="block text-sm font-medium text-gray-700 dark:text-white">
            Webhook Token
          </label>
          <div class="mt-1 flex rounded-md shadow-sm">
            <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 dark:border-gray-900 dark:bg-gray-600 dark:text-gray-300 text-sm">
              https://hooks.slack.com/services/
            </span>
            <input type="password" v-model="slackToken" @blur="change('slackToken')" name="slack_token" id="slack_token" class="focus:ring-turquoise-500 focus:border-turquoise-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300 dark:border-gray-900 dark:bg-gray-500 dark:text-white" placeholder="">
          </div>
          <p class="mt-2 text-sm text-gray-500">
            To setup, go to <a class="text-orange-300" href="https://api.slack.com/messaging/webhooks" target="_blank">slack.com</a>, follow the documentation to retrieve the webhook ID.
          </p>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-6 mb-5">
        <div class="col-span-3 sm:col-span-2">
          <label for="slack_channel" class="block text-sm font-medium text-gray-700 dark:text-white">
            Channel
          </label>
          <div class="mt-1 flex rounded-md shadow-sm">
            <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 dark:border-gray-900 dark:bg-gray-600 dark:text-gray-300 text-sm">
              #
            </span>
            <input type="text" v-model="slackChannel" @blur="change('slackChannel')" name="slack_channel" id="slack_channel" class="focus:ring-turquoise-500 focus:border-turquoise-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300 dark:border-gray-900 dark:bg-gray-500 dark:text-white" placeholder="general">
          </div>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-6 mb-5">
        <span class="hidden sm:block">
          <button type="button" @click.prevent="sendTest('slack')" class="inline-flex items-center px-4 py-2 border border-gray-300 dark:border-gray-500 rounded-md shadow-sm text-sm font-medium text-gray-700 dark:text-gray-300 bg-white hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <!-- Heroicon name: arrow-circle-up -->
            <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 11l3-3m0 0l3 3m-3-3v8m0-13a9 9 0 110 18 9 9 0 010-18z" />
            </svg>
            Send Test
          </button>
        </span>
      </div>

    </div>
  </div>

  <div class="bg-white dark:bg-turquoise-950 shadow overflow-hidden mb-4 sm:rounded-lg">
    <div class="flex items-center px-4 py-5 sm:px-6">
      <div class="flex-none w-20 h-8">
        <div @click.prevent="toggleItem('rocketChatActive')">
          <ToggleSwitch class="flex mx-auto my-auto" :active="rocketChatActive" />
        </div>
      </div>
      <div class="flex-grow h-12">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
            Rocketchat
          </h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Turns Rocketchat alerts on or off. Useful if you want to disable all alerts.
          </p>
        </div>
      </div>
      <div class="flex-none w-7 h-7">
        <button>
          <!-- Heroicon name: chevron-down -->
          <!-- <svg class="-ml-1 mr-7 h-7 w-7 stroke-current text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg> -->
        </button>
      </div>
    </div>

    <div class="flex flex-col px-4 sm:px-6 max-h-0 overflow-hidden" :class="{'max-h-full': rocketChatActive}">

      <div class="grid grid-cols-3 gap-6 mb-5">
        <div class="col-span-3 sm:col-span-2">
          <label for="rocket_domain" class="block text-sm font-medium text-gray-700 dark:text-white">
            Domain
          </label>
          <div class="mt-1 flex rounded-md shadow-sm">
            <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 dark:border-gray-900 dark:bg-gray-600 dark:text-gray-300 text-sm">
              https://
            </span>
            <input type="text" v-model="rocketChatDomain" @blur="change('rocketChatDomain')" name="rocket_domain" id="rocket_domain" class="focus:ring-turquoise-500 focus:border-turquoise-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300 dark:border-gray-900 dark:bg-gray-500 dark:text-white" placeholder="">
          </div>
          <p class="mt-2 text-sm text-gray-500">
            This is your server domain, usually this is a domain name similar to "chat.example.com"
          </p>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-6 mb-5">
        <div class="col-span-3 sm:col-span-2">
          <label for="rocket_token" class="block text-sm font-medium text-gray-700 dark:text-white">
            Webhook ID
          </label>
          <div class="mt-1 flex rounded-md shadow-sm">
            <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 dark:border-gray-900 dark:bg-gray-600 dark:text-gray-300 text-sm">
              https://chat.example.com/hooks/
            </span>
            <input type="password" v-model="rocketChatToken" @blur="change('rocketChatToken')" name="rocket_token" id="rocket_token" class="focus:ring-turquoise-500 focus:border-turquoise-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300 dark:border-gray-900 dark:bg-gray-500 dark:text-white" placeholder="">
          </div>
          <p class="mt-2 text-sm text-gray-500">
            To setup, go to <a class="text-orange-300" href="https://docs.rocket.chat/guides/administrator-guides/integrations#create-a-new-incoming-webhook" target="_blank">rocket.chat</a>, follow the documentation to retrieve the webhook ID.
          </p>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-6 mb-5">
        <div class="col-span-3 sm:col-span-2">
          <label for="rocket_channel" class="block text-sm font-medium text-gray-700 dark:text-white">
            Channel
          </label>
          <div class="mt-1 flex rounded-md shadow-sm">
            <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 dark:border-gray-900 dark:bg-gray-600 dark:text-gray-300 text-sm">
              #
            </span>
            <input type="text" v-model="rocketChatChannel" @blur="change('rocketChatChannel')" name="rocket_channel" id="rocket_channel" class="focus:ring-turquoise-500 focus:border-turquoise-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300 dark:border-gray-900 dark:bg-gray-500 dark:text-white" placeholder="general">
          </div>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-6 mb-5">
        <span class="hidden sm:block">
          <button type="button" @click.prevent="sendTest('rocketchat')" class="inline-flex items-center px-4 py-2 border border-gray-300 dark:border-gray-500 rounded-md shadow-sm text-sm font-medium text-gray-700 dark:text-gray-300 bg-white hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <!-- Heroicon name: arrow-circle-up -->
            <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 11l3-3m0 0l3 3m-3-3v8m0-13a9 9 0 110 18 9 9 0 010-18z" />
            </svg>
            Send Test
          </button>
        </span>
      </div>
    </div>

  </div>

  <div class="bg-cerulean-200 dark:bg-cerulean-700 shadow overflow-hidden mt-10 sm:rounded-lg">
    <div class="flex items-center px-4 py-5 sm:px-6">
      <div class="flex-grow">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
            More Integrations Soon!
          </h3>
          <p class="mt-1 text-sm text-gray-500 dark:text-gray-200">
            We've got some great integrations on the horizon... They will appear here when they're ready!
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { print } from 'graphql'
import gql from 'graphql-tag'
import { GetUserSettings, UpdateUserSettings, SendUserAlertTest } from '../gql/settings'
import ToggleSwitch from '../components/ToggleSwitch.vue'

export default {
  name: 'Integrations',

  components: {
    ToggleSwitch,
  },

  data() {
    return {
      emailActive: true,
      email: '',
      sms: '',
      productInfoActive: true,
      rocketChatActive: false,
      rocketChatChannel: 'general',
      rocketChatDomain: '',
      rocketChatToken: '',
      slackActive: false,
      slackChannel: 'general',
      slackToken: '',
      changedDetails: {},
    }
  },

  computed: {
    ...mapGetters(['gqlUrl', 'account_id']),
    accountId() {
      return this.$near && this.$near.user && this.$near.user.accountId ? this.$near.user.accountId : null
    },
    needsSave() {
      return Object.keys(this.changedDetails).length > 0
    },
  },

  methods: {
    toggleItem(type) {
      this[type] = !this[type]
      this.changedDetails[type] = this[type]
    },
    change(type) {
      this.changedDetails[type] = this[type]
    },
    async getUserSettings() {
      if (!this.account_id) return
      const req = gql`${GetUserSettings}`
      const { data } = await this.$http.post(this.gqlUrl, { query: print(req), variables: { user_id: this.account_id }})
      // console.log('data.data', data.data.userSettings);
      if (data.data && data.data.userSettings) {
        const user = data.data.userSettings
        // this.update({ key: 'account', value: { ...this.$near.user } })
        if (user.email) this.email = user.email
        if (user.sms) this.sms = user.sms
        if (typeof user.productInfoActive !== 'undefined') this.productInfoActive = user.productInfoActive
        if (typeof user.rocketChatActive !== 'undefined') this.rocketChatActive = user.rocketChatActive
        if (user.rocketChatChannel) this.rocketChatChannel = user.rocketChatChannel
        if (user.rocketChatDomain) this.rocketChatDomain = user.rocketChatDomain
        if (user.rocketChatToken) this.rocketChatToken = user.rocketChatToken
        if (typeof user.slackActive !== 'undefined') this.slackActive = user.slackActive
        if (user.slackChannel) this.slackChannel = user.slackChannel
        if (user.slackToken) this.slackToken = user.slackToken
      }
    },
    async sendTest(type) {
      const req = gql`${SendUserAlertTest}`
      try {
        await this.$http.post(this.gqlUrl, { query: print(req), variables: { type, user_id: this.account_id } })
      } catch(e) {}
    },
    async save() {
      const req = gql`${UpdateUserSettings}`
      const variables = {
        ...this.changedDetails,
        user_id: this.account_id,
      }
      console.log('SAVING:', variables);
      try {
        await this.$http.post(this.gqlUrl, { query: print(req), variables })
        console.log('Saved account!')
        // IF success, clear changed details
        this.changedDetails = {}
      } catch(e) {}
    },
  },

  async mounted() {
    await this.getUserSettings()

    if (!this.account_id) setTimeout(async () => {
      await this.getUserSettings()
    }, 1000)
  },
}
</script>