<template>
<main class="container mx-auto mt-10 pb-10">

  <div class="py-12 mb-20">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-white sm:text-4xl">
          Login with NEAR
        </p>
        <p class="mt-4 mb-8 max-w-2xl text-xl text-gray-500 lg:mx-auto">
          If you don't have an account, you can <a class="text-turquoise-300" href="https://wallet.near.org" target="_blank">create one here.</a>
        </p>

        <button :class="{hidden: step2}" type="button" @click.prevent="login" class="inline-flex justify-center uppercase py-4 px-8 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-turquoise-600 hover:bg-turquoise-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Login with 
            <svg class="flex-0 mx-2 h-5 w-5 stroke-current" fill="none" height="100%" viewBox="0 0 38 38" width="100%" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
              <path d="m11.0833 11.0833 1.1196-1.11956c-.4528-.45282-1.1338-.58829-1.7255-.34322-.59164.24507-.9774.82238-.9774 1.46278zm0 15.8334h-1.5833c0 .6404.38576 1.2177.9774 1.4628.5917.2451 1.2727.1096 1.7255-.3433zm15.8334-15.8334h1.5833c0-.6404-.3857-1.21771-.9774-1.46278s-1.2727-.1096-1.7255.34322zm0 15.8334-1.1196 1.1195c.4528.4529 1.1338.5884 1.7255.3433s.9774-.8224.9774-1.4628zm-5.0779-12.9946c-.6183.6183-.6183 1.6208 0 2.2391s1.6208.6183 2.2391 0zm-5.6776 10.1558c.6183-.6183.6183-1.6209 0-2.2391-.6183-.6183-1.6208-.6183-2.2391 0zm-6.6612-12.9946v15.8334h3.1667v-15.8334zm15.8333 0v15.8334h3.1667v-15.8334zm2.7029 14.7138-15.8333-15.83336-2.23916 2.23916 15.83336 15.8333zm-3.9583-9.6359 3.9583-3.9583-2.2391-2.23916-3.9583 3.95836zm-11.875 11.875 3.9583-3.9583-2.2391-2.2391-3.95836 3.9583z" fill="currentColor"/>
              <path d="m19 36.4167c9.619 0 17.4167-7.7977 17.4167-17.4167 0-9.61896-7.7977-17.41666-17.4167-17.41666-9.61896 0-17.41666 7.7977-17.41666 17.41666 0 9.619 7.7977 17.4167 17.41666 17.4167z" stroke="currentColor" stroke-width="2"/>
            </svg>
            NEAR
          </button>
      </div>
    </div>
  </div>

</main>
</template>

<script>
export default {
  name: 'Login',

  methods: {
    async login() {
      await this.$near.loginAccount()
    },
  },
}
</script>