<template>
<main class="container mx-auto mt-10 pb-10">

  <div class="py-12 mb-20" v-if="!loginNotice">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <h2 class="text-base text-gray-600 font-semibold tracking-wide uppercase">Quick Setup</h2>
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-orange-300 sm:text-4xl">
          Powerful Notifications Await
        </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
          Just a few simple steps and you'll start receiving <br>mission critical notifications you deserve.
        </p>
      </div>
    </div>
  </div>

  <div class="py-12 mb-20" v-if="loginNotice">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-white sm:text-4xl">
          Login with NEAR
        </p>
        <p class="mt-4 mb-8 max-w-2xl text-xl text-gray-500 lg:mx-auto">
          Before you can start your subscription, please login with Near protocol.<br>If you don't have an account, you can <a class="text-turquoise-300" href="https://wallet.near.org" target="_blank">create one here.</a>
        </p>

        <button :class="{hidden: step2}" type="button" @click.prevent="login" class="inline-flex justify-center uppercase py-4 px-8 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-turquoise-600 hover:bg-turquoise-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Login with 
            <svg class="flex-0 mx-2 h-5 w-5 stroke-current" fill="none" height="100%" viewBox="0 0 38 38" width="100%" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
              <path d="m11.0833 11.0833 1.1196-1.11956c-.4528-.45282-1.1338-.58829-1.7255-.34322-.59164.24507-.9774.82238-.9774 1.46278zm0 15.8334h-1.5833c0 .6404.38576 1.2177.9774 1.4628.5917.2451 1.2727.1096 1.7255-.3433zm15.8334-15.8334h1.5833c0-.6404-.3857-1.21771-.9774-1.46278s-1.2727-.1096-1.7255.34322zm0 15.8334-1.1196 1.1195c.4528.4529 1.1338.5884 1.7255.3433s.9774-.8224.9774-1.4628zm-5.0779-12.9946c-.6183.6183-.6183 1.6208 0 2.2391s1.6208.6183 2.2391 0zm-5.6776 10.1558c.6183-.6183.6183-1.6209 0-2.2391-.6183-.6183-1.6208-.6183-2.2391 0zm-6.6612-12.9946v15.8334h3.1667v-15.8334zm15.8333 0v15.8334h3.1667v-15.8334zm2.7029 14.7138-15.8333-15.83336-2.23916 2.23916 15.83336 15.8333zm-3.9583-9.6359 3.9583-3.9583-2.2391-2.23916-3.9583 3.95836zm-11.875 11.875 3.9583-3.9583-2.2391-2.2391-3.95836 3.9583z" fill="currentColor"/>
              <path d="m19 36.4167c9.619 0 17.4167-7.7977 17.4167-17.4167 0-9.61896-7.7977-17.41666-17.4167-17.41666-9.61896 0-17.41666 7.7977-17.41666 17.41666 0 9.619 7.7977 17.4167 17.41666 17.4167z" stroke="currentColor" stroke-width="2"/>
            </svg>
            NEAR
          </button>
      </div>
    </div>
  </div>

  <div class="py-8 mb-8" v-if="errorNotice">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between bg-red-400 dark:bg-red-800 rounded px-2 py-4">
        <div class="flex flex-0 px-4 text-4xl text-gray-800 dark:text-white">
          <span class="">⚠️</span>
        </div>
        <div class="flex-1 my-auto">
          <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
            Error
          </h3>
          <p class="mt-1 max-w-2xl text-md text-gray-100">
            Something went wrong, please check your information and try again.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="md:grid md:grid-cols-3 md:gap-6" id="purchase">
    <div class="flex md:col-span-1">
      <div class="flex-shrink-0">
        <div class="flex items-center justify-center h-12 w-12 rounded-md bg-orange-300 text-white dark:text-gray-800 text-3xl">
          1
        </div>
      </div>
      <div class="ml-4">
        <dt class="text-lg leading-6 font-medium text-gray-800 dark:text-gray-50">
          Purchase Subscription
        </dt>
        <dd class="mt-2 text-base text-gray-500">
          Add a valid email where we can verify your account. You will be taken to the NEAR Wallet to make a payment, then redirect back to this page for next steps.
        </dd>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="shadow sm:rounded-md sm:overflow-hidden relative">
        <div class="px-4 py-5 bg-white dark:bg-turquoise-950 space-y-6 sm:p-6" :class="{'filter-blur': step1 == false}">

          <h3 class="block text-sm font-medium mb-0 text-gray-900 dark:text-white">
            Subscription Checkout
          </h3>
          <div class="flex justify-between bg-gray-400 dark:bg-gray-900 bg-opacity-10 rounded px-2 py-4">
            <div class="flex flex-0 px-4 text-6xl text-gray-800 dark:text-turquoise-300">
              <span class="">🥳</span>
              <span class="transform translate-x-1 -translate-y-2 scale-90 rotate-12">💌</span>
            </div>
            <div class="flex-1 my-auto">
              <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
                Early Adopter
              </h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">
                Fully decentralized, customizable notifications for personal wallet, dApps & blockchain activity. Early adopter price.
              </p>
            </div>
            <div class="flex-0 my-auto ml-auto text-center">
              <h3 class="flex justify-start px-2 text-3xl leading-6 font-medium text-gray-900 dark:text-white">
                3
                <svg class="flex-0 ml-1 h-6 w-8 stroke-current" fill="none" height="100%" viewBox="0 0 38 38" width="100%" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                  <path d="m11.0833 11.0833 1.1196-1.11956c-.4528-.45282-1.1338-.58829-1.7255-.34322-.59164.24507-.9774.82238-.9774 1.46278zm0 15.8334h-1.5833c0 .6404.38576 1.2177.9774 1.4628.5917.2451 1.2727.1096 1.7255-.3433zm15.8334-15.8334h1.5833c0-.6404-.3857-1.21771-.9774-1.46278s-1.2727-.1096-1.7255.34322zm0 15.8334-1.1196 1.1195c.4528.4529 1.1338.5884 1.7255.3433s.9774-.8224.9774-1.4628zm-5.0779-12.9946c-.6183.6183-.6183 1.6208 0 2.2391s1.6208.6183 2.2391 0zm-5.6776 10.1558c.6183-.6183.6183-1.6209 0-2.2391-.6183-.6183-1.6208-.6183-2.2391 0zm-6.6612-12.9946v15.8334h3.1667v-15.8334zm15.8333 0v15.8334h3.1667v-15.8334zm2.7029 14.7138-15.8333-15.83336-2.23916 2.23916 15.83336 15.8333zm-3.9583-9.6359 3.9583-3.9583-2.2391-2.23916-3.9583 3.95836zm-11.875 11.875 3.9583-3.9583-2.2391-2.2391-3.95836 3.9583z" fill="currentColor"/>
                  <path d="m19 36.4167c9.619 0 17.4167-7.7977 17.4167-17.4167 0-9.61896-7.7977-17.41666-17.4167-17.41666-9.61896 0-17.41666 7.7977-17.41666 17.41666 0 9.619 7.7977 17.4167 17.41666 17.4167z" stroke="currentColor" stroke-width="2"/>
                </svg>
              </h3>
              <p class="mt-1 max-w-2xl text-xs uppercase text-gray-500">
                Per Year
              </p>
            </div>
          </div>

          <div class="grid grid-cols-3 gap-6 mb-2">
            <div class="col-span-3 sm:col-span-2">
              <label for="email_account" class="block text-sm font-medium text-gray-700 dark:text-white">
                Email Address
              </label>
              <div class="mt-1 flex rounded-md shadow-sm">
                <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 dark:border-gray-900 dark:bg-gray-600 dark:text-gray-300 text-sm">
                  <svg class="h-5 w-5 stroke-current text-gray-600 dark:text-gray-50" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                  </svg>
                </span>
                <input
                  type="text"
                  v-model="email"
                  name="email_account"
                  id="email_account"
                  @blur="validateEmail"
                  class="focus:ring-turquoise-500 focus:border-turquoise-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300 dark:border-gray-900 dark:bg-gray-500 dark:text-white placeholder-gray-400"
                  :class="{ 'ring-2 ring-blush-500 border-blush-500': emailValid === false }"
                  placeholder="your@email.me"
                >
              </div>
              <p class="mt-2 text-sm text-gray-500">
                Use an active email address, which will be used in the verify process next.
              </p>
            </div>
          </div>

        </div>
        <div class="flex flex-row justify-end px-4 py-3 bg-gray-50 dark:bg-turquoise-950 sm:px-6">
          <button :class="{hidden: step2}" type="button" @click.prevent="openPayRedirect" class="inline-flex justify-center uppercase py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-turquoise-600 hover:bg-turquoise-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <svg class="flex-0 mr-2 h-5 w-5 stroke-current" fill="none" height="100%" viewBox="0 0 38 38" width="100%" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
              <path d="m11.0833 11.0833 1.1196-1.11956c-.4528-.45282-1.1338-.58829-1.7255-.34322-.59164.24507-.9774.82238-.9774 1.46278zm0 15.8334h-1.5833c0 .6404.38576 1.2177.9774 1.4628.5917.2451 1.2727.1096 1.7255-.3433zm15.8334-15.8334h1.5833c0-.6404-.3857-1.21771-.9774-1.46278s-1.2727-.1096-1.7255.34322zm0 15.8334-1.1196 1.1195c.4528.4529 1.1338.5884 1.7255.3433s.9774-.8224.9774-1.4628zm-5.0779-12.9946c-.6183.6183-.6183 1.6208 0 2.2391s1.6208.6183 2.2391 0zm-5.6776 10.1558c.6183-.6183.6183-1.6209 0-2.2391-.6183-.6183-1.6208-.6183-2.2391 0zm-6.6612-12.9946v15.8334h3.1667v-15.8334zm15.8333 0v15.8334h3.1667v-15.8334zm2.7029 14.7138-15.8333-15.83336-2.23916 2.23916 15.83336 15.8333zm-3.9583-9.6359 3.9583-3.9583-2.2391-2.23916-3.9583 3.95836zm-11.875 11.875 3.9583-3.9583-2.2391-2.2391-3.95836 3.9583z" fill="currentColor"/>
              <path d="m19 36.4167c9.619 0 17.4167-7.7977 17.4167-17.4167 0-9.61896-7.7977-17.41666-17.4167-17.41666-9.61896 0-17.41666 7.7977-17.41666 17.41666 0 9.619 7.7977 17.4167 17.41666 17.4167z" stroke="currentColor" stroke-width="2"/>
            </svg>
            NEAR Pay
          </button>
          <button :class="{hidden: !step2}" type="button" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-turquoise-600 hover:bg-turquoise-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <svg class="mr-2 h-5 w-5 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Complete
          </button>
        </div>
        <div class="absolute inset-0 bg-gray-500 opacity-90" :class="{hidden: step1 == true}"></div>
      </div>
    </div>
  </div>

  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-10">
      <div class="border-t border-gray-200 dark:border-gray-700"></div>
    </div>
  </div>

  <div class="md:grid md:grid-cols-3 md:gap-6" id="verify">
    <div class="flex md:col-span-1">
      <div class="flex-shrink-0">
        <div class="flex items-center justify-center h-12 w-12 rounded-md bg-orange-300 text-white dark:text-gray-800 text-3xl">
          2
        </div>
      </div>
      <div class="ml-4">
        <dt class="text-lg leading-6 font-medium text-gray-800 dark:text-gray-50">
          Verify Account
        </dt>
        <dd class="mt-2 text-base text-gray-500">
          We confirm your account by email to ensure you can actually receive the notifications you paid for! You can change these settings to other integrations once confirmed.
        </dd>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="shadow sm:rounded-md sm:overflow-hidden relative">
        <div class="px-4 bg-white dark:bg-turquoise-950 space-y-6 sm:p-6 text-center" :class="{'filter-blur': step2 == false}">
          <div class="my-9">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl">
              <span class="block">Check Your Email</span>
            </h2>
            <h4 class="text-md tracking-tight my-2 text-gray-900 dark:text-gray-50">
              <span class="block text-turquoise-600">You will need to verify your email to complete your subscription.</span>
            </h4>
            <div class="flex-0 my-7 text-9xl">
              📥
            </div>
            <p class="mt-1 text-md text-gray-500">
              An email has been sent to {{ email || 'you' }} with a link to verify your account.<br>If you have not received the email after a few minutes, please check your spam folder.
            </p>
          </div>
          <div class="hidden my-9">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl">
              <span class="block">Great Job!</span>
            </h2>
            <h4 class="text-md tracking-tight my-2 text-gray-900 dark:text-gray-50">
              <span class="block text-turquoise-600">Your account is verified, now for the fun part!</span>
            </h4>
            <div class="flex-0 text-9xl">
              🍻
            </div>
          </div>
        </div>
        <!-- <div class="px-4 py-3 bg-gray-50 dark:bg-turquoise-950 text-right sm:px-6" :class="{'filter-blur': step2 == false}">
          <button type="button" @click.prevent="resendEmailVerify" :disabled="!email || disableResend" :class="{'cursor-not-allowed opacity-25': !email || disableResend}" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-turquoise-600 hover:bg-turquoise-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Resend Verification
          </button>
        </div> -->
        <div class="absolute inset-0 bg-gray-500 opacity-90" :class="{hidden: step2 == true}"></div>
      </div>
    </div>
  </div>

  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-10">
      <div class="border-t border-gray-200 dark:border-gray-700"></div>
    </div>
  </div>

  <div class="md:grid md:grid-cols-3 md:gap-6" id="configure">
    <div class="flex md:col-span-1">
      <div class="flex-shrink-0">
        <div class="flex items-center justify-center h-12 w-12 rounded-md bg-orange-300 text-white dark:text-gray-800 text-3xl">
          3
        </div>
      </div>
      <div class="ml-4">
        <dt class="text-lg leading-6 font-medium text-gray-800 dark:text-gray-50">
          Configure Preferences
        </dt>
        <dd class="mt-2 text-base text-gray-500">
          Let's do a quick test!<br><br>Here's a sample of some of the notification settings you can configure. You can change these at any time.<br><br>Oh and, did we mention you own your preferences? You alone own your preferences on the NEAR blockchain.
        </dd>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="shadow sm:rounded-md sm:overflow-hidden relative">
        <div class="px-4 py-5 bg-white dark:bg-turquoise-950 space-y-6 sm:p-6">

          <div v-for="(item, idx) in alerts" :key="item">
            <div class="bg-gray-100 dark:bg-turquoise-1000 shadow overflow-hidden mb-4 sm:rounded-lg" :class="{'filter-blur': step3 == false}">
              <div class="flex items-center px-4 py-5 sm:px-6">
                <div class="flex-none w-20 h-8">
                  <div @click.prevent="toggleItem(idx, item)">
                    <ToggleSwitch class="flex mx-auto my-auto" :active="item.active" />
                  </div>
                </div>
                <div class="flex-grow h-12">
                  <div>
                    <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
                      {{ item.title }}
                    </h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">
                      {{ item.desc }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="flex flex-row justify-end px-4 py-3 bg-gray-50 dark:bg-turquoise-950 sm:px-6" :class="{'filter-blur': step3 == false}">
          <button type="button" @click.prevent="sendNotificationTest" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-turquoise-600 hover:bg-turquoise-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <!-- Heroicon name: arrow-circle-up -->
            <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 11l3-3m0 0l3 3m-3-3v8m0-13a9 9 0 110 18 9 9 0 010-18z" />
            </svg>
            Send Test Alert
          </button>
        </div>

        <div class="absolute inset-0 bg-gray-500 opacity-90" :class="{hidden: step3 == true}"></div>
      </div>
    </div>
  </div>

  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-10">
      <div class="border-t border-gray-200 dark:border-gray-700"></div>
    </div>
  </div>

  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="flex md:col-span-1">
      <div class="flex-shrink-0">
        <div class="flex items-center justify-center h-12 w-12 rounded-md bg-orange-300 text-white dark:text-gray-800 text-3xl">
          4
        </div>
      </div>
      <div class="ml-4">
        <dt class="text-lg leading-6 font-medium text-gray-800 dark:text-gray-50">
          Earn Rewards
        </dt>
        <dd class="mt-2 text-base text-gray-500">
          Get rewarded for helping pingbox grow! For each referral that successfully signs up to use pingbox, you will be rewarded up to 1 Ⓝ per referral as a thank you! Share the link to get started!
        </dd>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="shadow sm:rounded-md sm:overflow-hidden relative">
        <div class="px-4 py-5 bg-white dark:bg-turquoise-950 space-y-6 sm:p-6" :class="{'filter-blur': step3 == false}">
          <div class="grid grid-cols-4 gap-6">
            <div class="col-span-3 sm:col-span-2">
              <label for="referral_link" class="block text-sm font-medium text-gray-700 dark:text-white">
                Your Personal Referral Link
              </label>
              <div class="mt-1 flex rounded-md shadow-sm">
                <span class="inline-flex items-center px-3 pr-1 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 dark:border-gray-900 dark:bg-gray-600 dark:text-gray-300 text-sm">
                  <svg class="-ml-1 mr-1 h-5 w-5 stroke-current text-gray-800 dark:text-gray-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                  </svg>
                </span>
                <input type="text" v-model="referralLink" name="referral_link" id="referral_link" class="select-all focus:ring-turquoise-500 focus:border-turquoise-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300 dark:border-gray-900 dark:bg-gray-500 dark:text-white" placeholder="https://pingbox.app/XXXXXXXXXX">
              </div>
              <p class="mt-2 text-sm text-gray-500">
                Send this link to a friend! Once they successfully sign up, you will receive your reward.
              </p>
            </div>
            <div class="col-span-1 sm:col-span-1">
              <clipboard-copy for="referral_link" type="button" class="inline-flex items-center mt-6 px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-turquoise-600 hover:bg-turquoise-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-turquoise-500">
                <svg v-if="!activeClipboard" class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
                </svg>
                <svg v-if="activeClipboard" xmlns="http://www.w3.org/2000/svg" class="-ml-1 mr-2 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
                </svg>
                {{ copyTxt }}
              </clipboard-copy>
            </div>
          </div>

          <!-- <h3 class="block pt-5 text-sm font-medium mb-0 text-gray-900 dark:text-white">
            Share on Social
          </h3>
          <div class="flex flex-row">
            <div class="flex items-center justify-center mr-10 h-20 w-20 rounded-full bg-gray-200 text-gray-900 dark:text-gray-800 text-3xl">
              <svg class="h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
              </svg>
            </div>
            <div class="flex items-center justify-center mr-10 h-20 w-20 rounded-full bg-gray-200 text-gray-900 dark:text-gray-800 text-3xl">
              <svg class="h-10 w-10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path d="M288,192v-38.1c0-17.2,3.8-25.9,30.5-25.9H352V64h-55.9c-68.5,0-91.1,31.4-91.1,85.3V192h-45v64h45v192h83V256h56.4l7.6-64 H288z"/>
              </svg>
            </div>
            <div class="flex items-center justify-center mr-10 h-20 w-20 rounded-full bg-gray-200 text-gray-900 dark:text-gray-800 text-3xl">
              <svg class="h-10 w-10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path d="M492,109.5c-17.4,7.7-36,12.9-55.6,15.3c20-12,35.4-31,42.6-53.6c-18.7,11.1-39.4,19.2-61.5,23.5 C399.8,75.8,374.6,64,346.8,64c-53.5,0-96.8,43.4-96.8,96.9c0,7.6,0.8,15,2.5,22.1c-80.5-4-151.9-42.6-199.6-101.3 c-8.3,14.3-13.1,31-13.1,48.7c0,33.6,17.2,63.3,43.2,80.7C67,210.7,52,206.3,39,199c0,0.4,0,0.8,0,1.2c0,47,33.4,86.1,77.7,95 c-8.1,2.2-16.7,3.4-25.5,3.4c-6.2,0-12.3-0.6-18.2-1.8c12.3,38.5,48.1,66.5,90.5,67.3c-33.1,26-74.9,41.5-120.3,41.5 c-7.8,0-15.5-0.5-23.1-1.4C62.8,432,113.7,448,168.3,448C346.6,448,444,300.3,444,172.2c0-4.2-0.1-8.4-0.3-12.5 C462.6,146,479,129,492,109.5z"/>
              </svg>
            </div>
            <div class="flex items-center justify-center h-20 w-20 rounded-full bg-gray-200 text-gray-900 dark:text-gray-800 text-3xl">
              <svg class="h-10 w-10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path d="M480.5,251c0-27.7-22.2-50.2-49.5-50.2c-13,0-24.7,5-33.6,13.3c-32.4-22.8-76.1-37.8-124.9-40.6l21.9-73.2l67.1,13.5 c2.3,22.7,21.2,40.4,44.3,40.4c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0,0.2,0c24.6,0,44.5-20.2,44.5-45.1S430.7,64,406.1,64 c-0.1,0-0.1,0-0.2,0c0,0-0.1,0-0.1,0c-17.2,0-32,9.8-39.5,24.3l-89.7-18l-30.8,103l-2.5,0.1c-50.3,2.2-95.5,17.4-128.7,40.7 c-8.8-8.3-20.6-13.3-33.6-13.3c-27.3,0-49.5,22.5-49.5,50.2c0,19.6,11,36.5,27.1,44.8c-0.8,4.9-1.2,9.8-1.2,14.8 C57.5,386.4,146.4,448,256,448s198.5-61.6,198.5-137.5c0-5-0.4-9.9-1.1-14.8C469.5,287.4,480.5,270.5,480.5,251z M65.8,271.1 c-6.6-4.5-10.9-12.1-10.9-20.8c0-13.8,11.1-25.1,24.7-25.1c5.6,0,10.8,1.9,15,5.1C81.1,242.2,71.1,256,65.8,271.1z M389.3,109.1 c0-9.2,7.4-16.8,16.5-16.8s16.5,7.5,16.5,16.8c0,9.2-7.4,16.8-16.5,16.8S389.3,118.4,389.3,109.1z M158.5,288.4 c0-17.6,14.2-31.8,31.8-31.8s31.8,14.2,31.8,31.8c0,17.6-14.2,31.8-31.8,31.8S158.5,306,158.5,288.4z M256,400 c-47.6-0.2-76-28.5-77.2-29.7l12.6-12.4c0.2,0.2,23.7,24.2,64.6,24.4c40.3-0.2,64.2-24.2,64.5-24.4l12.6,12.4 C331.9,371.5,303.6,399.8,256,400z M322.3,320.2c-17.6,0-31.8-14.2-31.8-31.8c0-17.6,14.2-31.8,31.8-31.8s31.8,14.2,31.8,31.8 C354.1,306,339.8,320.2,322.3,320.2z M446.4,271.5c-5.4-15.3-15.6-29.4-29.3-41.4c4.2-3.3,9.5-5.2,15.2-5.2 c13.9,0,25.1,11.4,25.1,25.5C457.5,259.2,453.1,266.9,446.4,271.5z"/>
              </svg>
            </div>
          </div> -->

        </div>

        <div class="absolute inset-0 bg-gray-500 opacity-90" :class="{hidden: step3 == true}"></div>
      </div>
    </div>
  </div>

  <div class="bg-white dark:bg-turquoise-900 mt-20 rounded-2xl" :class="{hidden: step3 == false}">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl">
        <span class="block">Setup Complete!</span>
        <span class="block font-semibold text-turquoise-600">Sit back and let the notifications roll in.</span>
      </h2>
      <div class="mt-8 lex lg:mt-0 lg:flex-shrink-0">
        <div class="inline-flex rounded-md shadow">
          <router-link to="/user/notification-settings" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-turquoise-600 hover:bg-turquoise-700">
            View Account
          </router-link>
        </div>
        <div class="ml-3 inline-flex rounded-md shadow">
          <router-link to="/docs" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-turquoise-600 bg-white hover:bg-indigo-50">
            Read Docs
          </router-link>
        </div>
      </div>
    </div>
  </div>


  <div class="fixed z-10 inset-0 overflow-y-auto" :class="{hidden: !payModel}">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>

      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-turquoise-100 sm:mx-0 sm:h-10 sm:w-10">
              <svg class="h-6 w-6 text-turquoise-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.618 5.984A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016zM12 9v2m0 4h.01" />
              </svg>
            </div>
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                You will be redirected to NEAR Wallet
              </h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">
                  To make a payment and sign the blockchain transaction, your browser will navigate to <span class="text-orange-500">wallet.near.org</span> where you will confirm the payment details. Upon completion, you will be sent back to pingbox.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button type="button" @click.prevent="startSubscription" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-turquoise-600 text-base font-medium text-white hover:bg-turquoise-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
            Let's Go!
          </button>
          <button type="button" @click.prevent="payModel = false" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>


</main>
</template>

<script>
import { mapGetters } from 'vuex'
import { print } from 'graphql'
import gql from 'graphql-tag'
import { keccak256 } from 'js-sha3'
import Big from 'big.js'
import uint8arrays from 'uint8arrays'
import '@github/clipboard-copy-element'
import { CreateUser, VerifyUser, SendUserAlertTest, SendVerifyEmail } from '../gql/settings'
import { getContractAbi } from '../utils'
import ToggleSwitch from '../components/ToggleSwitch.vue'

// NOTE: Could add this to near.js later
const GAS = '300000000000000'

const stringKeccak = str => keccak256(str)
const stringUint8array = str => uint8arrays.fromString(str)
const stringToBase64 = str => btoa(str)
const base64ToString = str => atob(str)

const alerts = [
  {
    active: true,
    type: 'transfer',
    title: 'Balance Transfers',
    desc: 'Alerts for when your account sends or receives funds.',
    account_ids: ['String'],
    email: true,
    inbox: true,
    rocketchat: true,
    slack: true,
    sms: true,
  },
  {
    active: false,
    type: 'staking',
    title: 'Staking Rewards',
    desc: 'Alerts for delegating, earning, unstaking & more.',
    account_ids: ['String'],
    email: true,
    inbox: true,
    rocketchat: true,
    slack: true,
    sms: true,
  },
]

export default {
  name: 'Onboarding',

  components: {
    ToggleSwitch,
  },

  data() {
    return {
      userInstance: null,
      pingbox: null,
      settings: null,
      query: null,
      referral_id: null,

      alerts,
      email: '',
      emailValid: null,
      disableResend: false,

      step1: true,
      step2: false,
      step3: false,
      payModel: false,
      loginNotice: false,
      errorNotice: false,

      activeClipboard: false,
      copyTxt: 'Copy',
    }
  },

  computed: {
    ...mapGetters([
      'gqlUrl',
      'account_id',
      'pingbox_contract_id',
      'settings_contract_id',
    ]),
    referralLink() {
      return `https://${window.location.host}/onboarding?referral=${this.referral_id}`
    },
  },

  methods: {
    toggleItem(idx, data) {
      this.alerts[idx].active = !this.alerts[idx].active
    },

    async login() {
      await this.$near.loginAccount()
    },

    openPayRedirect() {
      this.validateEmail()
      if (this.email && this.emailValid) this.payModel = true
    },

    validateEmail() {
      const rgx = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/g
      this.emailValid = rgx.test(`${this.email}`)
      return this.emailValid
    },

    async startSubscription() {
      this.payModel = false
      if (!this.pingbox || !this.account_id) return
      if (!this.emailValid) return
      const keccak = stringKeccak(this.account_id)
      const hash = stringUint8array(keccak)
      const base64Hash = stringToBase64(Array.from(hash))
      const variables = {
        user_id: this.account_id,
        data_hash: keccak,
        email: this.email,
      }

      // Call API with email 1st
      const req = gql`${CreateUser}`
      try {
        await this.$http.post(this.gqlUrl, { query: print(req), variables })
      } catch(e) {
        console.log(e);
        return
      }

      const newSubscription = { hash: base64Hash }
      if (this.referral_id) newSubscription.rfr = this.referral_id

      // THEN: Call the blockchain to add new account
      await this.pingbox.add_subscription(
        newSubscription,
        GAS,
        // TODO: Change pricings
        this.$near.nearApi.utils.format.parseNearAmount('3'),
      )
    },

    async emailVerifyConfirmation() {
      if (!this.pingbox || !this.account_id || !this.query.verify) return
      const keccak = stringKeccak(this.account_id)
      const hash = stringUint8array(keccak)
      const base64Hash = stringToBase64(Array.from(hash))
      const code = this.query.verify

      // Call the blockchain to verify account
      // Example: b9d96150bf62d7ecfb36afce00785f68622bf0337c3a37b8cee6bfb81fbcd91b
      let referral_code
      try {
        const res = await this.userInstance.functionCall({
          contractId: this.pingbox_contract_id,
          methodName: 'validate_subscription',
          args: { hash: base64Hash },
          gas: GAS,
        })
        // Filter to only the success value
        if (res && res.status && res.status.SuccessValue && res.status.SuccessValue.length > 0)
          referral_code = `${base64ToString(res.status.SuccessValue)}`.replace(/\"/g, '')
      } catch (e) {
        throw e
      }
      if (!referral_code) {
        // Show warning!
        this.handleWalletError()
        return
      }
      this.referral_id = referral_code

      // Get the subscription as a final double check
      let userSubscription
      try {
        userSubscription = await this.getUserSubscription()
      } catch (e) {}

      // THEN: update DB with referral and validation code
      const req = gql`${VerifyUser}`
      const variables = {
        user_id: this.account_id,
        user_referral_id: referral_code,
        verify_code: code,
      }

      if (userSubscription && userSubscription.contract_id)
        variables.subscription_contract_id = userSubscription.contract_id

      try {
        await this.$http.post(this.gqlUrl, { query: print(req), variables })
      } catch(e) {
        console.log(e);
      }

      this.step1 = false
      this.step2 = false
      this.step3 = true
      location.hash = 'configure'
    },

    async resendEmailVerify() {
      this.disableResend = true
      const req = gql`${SendVerifyEmail}`
      const variables = {
        user_id: this.account_id,
        email: this.email,
      }
      try {
        await this.$http.post(this.gqlUrl, { query: print(req), variables })
      } catch(e) {}
    },

    async sendNotificationTest() {
      const req = gql`${SendUserAlertTest}`
      const variables = { type: 'email', user_id: this.account_id }
      try {
        await this.$http.post(this.gqlUrl, { query: print(req), variables })
      } catch(e) {
        console.log(e);
      }
    },

    // Loads the contracts into state, however non-authed users will have no contracts defined here.
    async loadContracts() {
      if (!this.$near.getContractInstance) return
      this.pingbox = await this.$near.getContractInstance(
        this.pingbox_contract_id,
        getContractAbi('pingbox'),
      )
      this.userInstance = await this.$near.getAccountInstance(
        this.account_id
      )
      // this.settings = await this.$near.getContractInstance(
      //   this.settings_contract_id,
      //   getContractAbi('settings_pingbox'),
      // )
    },

    // get relevent subscription data so we know how to process for user
    async getUserSubscription() {
      try {
        const res = await this.pingbox.get_subscription({ id: this.account_id })
        if (!res) return
        const subscription = {
          active: res[0],
          verified: res[1],
          subscribe_block: res[2],
          balance: res[3],
          referral_code: res[4],
          account_hash: res[5],
          contract_id: res[6],
          data_hash: res[7],
        }
        
        // check that the subscription is finished
        return subscription
      } catch (e) {
        console.log(e)
      }
    },

    async handleTransactionHash(hash) {
      if (!hash) return;

      // Jump to next step of verify email!
      this.step1 = false
      this.step2 = true
    },

    handleWalletError(err) {
      // you get something like this: http://localhost:8080/onboarding?errorCode=FunctionCallError&errorMessage=Error%253A%2520%257B%2522index%2522%253A0%252C%2522kind%2522%253A%257B%2522ExecutionError%2522%253A%2522Smart%2520contract%2520panicked%253A%2520panicked%2520at%2520%27Failed%2520to%2520deserial
      this.errorNotice = true
      setTimeout(async () => {
        this.errorNotice = false
      }, 10000)
    },
  },

  async mounted() {
    this.query = Object.assign({}, this.$route.query)
    if (this.query.verify) {
      this.step1 = false
      this.step2 = true
      location.hash = 'verify'
    }

    setTimeout(async () => {
      await this.loadContracts()
      console.log('Contract Id:', this.pingbox_contract_id);

      // Force user to login first!
      this.loginNotice = !this.account_id ? true : false
      if (this.loginNotice) this.step1 = false

      // Launch the verify flow if we got `?verify=b62ade00272c53dfb51339f5dccedd21`
      if (this.query.verify) this.emailVerifyConfirmation()

      // Handler for transactionHashes=GTqqXaAegCkYL3xpmdYJjWvdLvBaLiYiPoo1eiyUqsi3
      if (this.query.transactionHashes) this.handleTransactionHash(this.query.transactionHashes)

      // Handler for errors from wallet
      if (this.query.errorCode) this.handleWalletError(this.query.errorCode)

      // Check for `?referral=c53dfb51339f5dccedd21b62ade00272`
      if (this.query.referral) this.referral_id = this.query.referral

      // If already have subscription, go to billing
      try {
        const subscription = await this.getUserSubscription()
        if (subscription.active) {
          if (subscription.verified) this.$router.replace({ name: 'Billing' })
          else {
            this.step1 = false
            this.step2 = true
          }
        }
      } catch (e) {
        // do nothing
      }
    }, 100)

    setTimeout(() => {
      // clear the query
      this.$router.replace({ query: {}, hash: location.hash })
    }, 2000)

    document.addEventListener('clipboard-copy', () => {
      this.activeClipboard = true
      this.copyTxt = 'Copied!'

      setTimeout(() => {
        this.activeClipboard = false
        this.copyTxt = 'Copy'
      }, 3000)
    })
  },
}
</script>