<template>
<main class="container mx-auto mt-10 pb-10">
  <div class="md:grid md:grid-cols-4 md:gap-6">
    <div class="md:col-span-1">

      <ChildPageMenu />
 
    </div>
    <div class="mt-5 md:mt-0 md:col-span-3">
      
      <router-view></router-view>

    </div>
  </div>
</main>
</template>

<script>
import ChildPageMenu from '../components/ChildPageMenu.vue'

export default {
  name: 'User',

  components: {
    ChildPageMenu,
  },

  data() {
    return {
      login: false,
      currentUser: null,
    }
  },
}
</script>